extends baseAccount

block content
  main.main.main-account
    .user-view
      .user-view__content
        .user-view__form-container
          - let u
          - let uPageTitle
          if optionUser
            - u = optionUser
            - uPageTitle = 'User Settings'
          else
            - u = user
            - uPageTitle = 'Your Account Settings'

          form#updatePersonalForm.form(novalidate)
            .form__group
              .form__title.u-center-text
                h2.heading-secondary= uPageTitle

            .form__group
              input#name.form__input.input-text(type='text' name='name' placeholder='Name*' value=`${u.name}` minlength='2' maxlength='70' required)
              label.form__label.label-text(for='name') Please enter your name

            .form__group
              .form__date
                .form__date-month
                  select#selectBirthMonth.form__select.dropdown(name='select-month' tabondex='0' required)
                    option(value, selected=(true)) Birth Month*

                    - const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

                    - var monthValue = u.birthdate.toLocaleString('en-us', {month: 'long'})

                    each month in months
                      - var monthSelected = (monthValue === month) ? true : false

                      option(value=`${month}`, selected=(monthSelected))= month
                  
                  label.form__label.label-text(for='selectBirthMonth') Please select a birth month

                .form__date-day
                  select#selectBirthDay.form__select.dropdown(name='select-day' tabindex='0' required)
                    option(value, selected=(true)) Day

                    - const days = [...Array(32).keys()].splice(1)

                    - var dayValue = u.birthdate.toLocaleString('en-us', {day: 'numeric'})

                    each day in days
                      - var daySelected = (dayValue == day) ? true : false

                      option(value=`${day}`, selected=(daySelected))= day
                  
                  label.form__label.label-text(for='selectBirthDay') Please select a birth day

                .form__date-year
                  select#selectBirthYear.form__select.dropdown(name='select-year' tabindex='0' required)
                    option(value) Year

                    - const now = new Date().getFullYear()
                    - const years = Array(now - (now - 101)).fill('').map((val, i) => now - i)

                    - var yearValue = u.birthdate.toLocaleString('en-us', {year: 'numeric'})

                    each year in years
                      - var yearSelected = (yearValue == year) ? true : false

                      option(value=`${year}`, selected=(yearSelected))= year
                  
                  label.form__label.label-text(for='selectBirthYear') Please select a birth year

            .form__group
              .form__gender
                select#selectGender.form__select.dropdown(name='select-gender' tabindex='0', required)
                  option(value, selected=(true)) Gender Select
                  option(value='f', selected=(u.gender === 'f')) Female
                  option(value='m', selected=(u.gender === 'm')) Male
                  option(value='p', selected=(u.gender === 'p')) Prefer not to say
                
                label.form__label.label-text(for='selectGender') Please select a gender/non-gender

            .form__group
              .form__photo-upload
                //- src=`${theater.cloudinaryPhoto.cloudinaryUrl}`
                img#photoSource.form__user-photo(src=`${u.cloudinaryPhoto.cloudinaryUrl}`, alt='User photo')
                input#userPhoto.form__upload(type='file', accept='image/*', name='photo')
                label.form__label-upload.label-text(for='userPhoto') Choose new photo

            .form__group
              button#btnUpdateData.btn.btn--blue Update

        .line &nbsp;
        
        //- Change email | username
        .user-view__form-container
          form#updateEmailUsernameForm.form(novalidate)
            .form__group
              .form__title.u-center-text
                h2.heading-secondary Change Your Email | Username

            .form__group
              input#email.form__input.input-text(type='email' name='email' placeholder='Email address*' value=`${u.email}` required)
              label.form__label.label-text(for='email') Please enter a valid email address

            .form__group
              input#username.form__input.input-text(type='text' name='username' placeholder='Username*' value=`${u.username}` minlength='3' maxlength='9' required)
              label.form__label.label-text(for='username') Please enter a username

            .form__group
              button#btnUpdateEmailUsername.btn.btn--blue Update

        .line &nbsp;

        //- Change password
        .user-view__form-container
          form#updatePassForm.form(novalidate)
            .form__group
              .form__title.u-center-text
                h2.heading-secondary Change Your Password
              
            .form__group
              input#currentPass.form__input.input-text(type='password' name='current-password' placeholder='••••••••' minlength='8' maxlength='60' required)
              label.form__label.label-text(for='currentPass') Please enter your current password

            .form__group
              input#newPass.form__input.input-text(type='password' name='password' placeholder='••••••••' minlength='8' maxlength='60' required)
              label.form__label.label-text(for='newPass') New password must contain between 8 and 60 characters with at least one number, one special character, and one capital letter

            .form__group
              input#confirmNewPass.form__input.input-text(type='password' name='password-confirm' placeholder='••••••••' required)
              label.form__label.label-text(for='confirmNewPass') Please confirm your new password

            .form__group
              button#btnUpdatePass.btn.btn--blue Update
        
        if (user.role === 'admin' && user.role !== u.role) || (user.role !== 'admin')
          //- Deactivate account
          .line &nbsp;

          .user-view__form-container
            form#deactivateUserForm.form(novalidate)
              .form__group.form__group--info
                .form__title.u-center-text
                  h2.heading-secondary.u-margin-bottom-small Deactivate Account

                  small.form__info-small.small-text Please enter your password to deactivate #{user.role === 'admin' ? 'the' : 'your'} account.

              .form__group
                input#passwordConfirm.form__input.input-text(type='password' name='password' placeholder='••••••••' required)
                label.form__label.label-text(for='password') Please enter your password

              if user.role === 'user' || user.role === 'event-owner'
                .form__group
                  button#btnDeactivateUserData.btn.btn--red Deactivate

              if user.role === 'admin'
                .form__group
                  button#btnDeactivateUserData.btn.btn--red(type='submit' name='hexadecimal-btn' data-user-id=`${u.id}`) Deactivate

          //- Delete account
          .line &nbsp;

          .user-view__form-container
            form#deleteUserForm.form(novalidate)
              .form__group.form__group--info
                .form__title.u-center-text
                  - const deleteUserTitle = (user.role === 'admin') ? 'Delete User' : 'Delete Account'

                  h2.heading-secondary.u-margin-bottom-small= deleteUserTitle

                  - const deleteMoreInfo = (user.role === 'admin') ? 'Please enter your password to delete the user.' : 'If you wish to delete your account, please contact the system admin.'

                  small.form__info-small.small-text= deleteMoreInfo

              if user.role === 'admin'
                .form__group
                  input#password.form__input.input-text(type='password' name='password' placeholder='••••••••' required)
                  label.form__label.label-text(for='password') Please enter your password

                .form__group
                  button#btnDeleteUserData.btn.btn--red(type='submit' name='hexadecimal-btn' data-user-id=`${u.id}`) Delete

block circleNavigation
  include ../_circleNav
