extends baseAccount

block content
  main.main.main-account
    .user-view
      .user-view__content
        .user-view__form-container
          form#updatePersonalForm.form
            .form__group
              .form__title.u-center-text
                h2.heading-secondary Your Account Settings

            .form__group
              input#name.form__input.input-text(type='text' placeholder='Name*' value=`${user.name}` minlength='2' required)
              label.form__label.label-text(for='name') Please enter your name.

            .form__group
              .form__date
                .form__date-month
                  select#selectBirthMonth.dropdown(name='select-birthname' tabondex='0' required)
                    option(value, selected=(true)) Birth Month

                    - const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

                    - var monthValue = user.birthdate.toLocaleString('en-us', {month: 'long'})

                    each month in months
                      - var monthSelected = (monthValue === month) ? true : false

                      option(value=`${month}`, selected=(monthSelected))= month

                .form__date-day
                  select#selectBirthDay.dropdown(name='select-birthday' tabindex='0' required)
                    option(value, selected=(true)) Day

                    - const days = [...Array(32).keys()].splice(1)

                    - var dayValue = user.birthdate.toLocaleString('en-us', {day: 'numeric'})

                    each day in days
                      - var daySelected = (dayValue == day) ? true : false

                      option(value=`${day}`, selected=(daySelected))= day

                .form__date-year
                  select#selectBirthYear.dropdown(name='select-birthyear' tabindex='0' required)
                    option(value) Year

                    - const now = new Date().getFullYear()
                    - const years = Array(now - (now - 101)).fill('').map((val, i) => now - i)

                    - var yearValue = user.birthdate.toLocaleString('en-us', {year: 'numeric'})

                    each year in years
                      - var yearSelected = (yearValue == year) ? true : false

                      option(value=`${year}`, selected=(yearSelected))= year

            .form__group
              .form__gender
                select#selectGender.dropdown(name='select-gender' tabindex='0', required)
                  option(value, selected=(true)) Gender Select
                  option(value='f', selected=(user.gender === 'f')) Female
                  option(value='m', selected=(user.gender === 'm')) Male
                  option(value='p', selected=(user.gender === 'p')) Prefer not to say

            .form__group
              .form__photo-upload
                img#photoSource.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo')
                input#userPhoto.form__upload(type='file', accept='image/*', name='photo')
                label(for='userPhoto') Choose new photo

            .form__group
              button#btnUpdateData.btn.btn--blue Update Settings

        .line &nbsp;
        
        //- Change email | username
        .user-view__form-container
          form#updateEmailUsernameForm.form
            .form__group
              .form__title.u-center-text
                h2.heading-secondary Change Your Email | Username

            .form__group
              input#email.form__input.input-text(type='email' placeholder='Email address*' value=`${user.email}` required)
              label.form__label.label-text(for='email') Please enter a valid email address.

            .form__group
              input#username.form__input.input-text(type='text' placeholder='Username' value=`${user.username}` minlength='3' required)
              label.form__label.label-text(for='username') Please enter a username

            .form__group
              button#btnUpdateEmailUsername.btn.btn--blue Update Email | Username

        .line &nbsp;

        //- Change password
        .user-view__form-container
          form#updatePassForm.form
            .form__group
              .form__title.u-center-text
                h2.heading-secondary Change Your Password
              
            .form__group
              input#currentPass.form__input.input-text(type='password' placeholder='••••••••' required)
              label.form__label.label-text(for='currentPass') Please enter your current password.

            .form__group
              input#newPass.form__input.input-text(type='password' placeholder='••••••••' minlength='8' maxlength='60' required)
              label.form__label.label-text(for='newPass') New password must contain between 8 and 60 characters.

            .form__group
              input#confirmNewPass.form__input.input-text(type='password' placeholder='••••••••' required)
              label.form__label.label-text(for='confirmNewPass') Please confirm your new password.

            .form__group
              button#btnUpdatePass.btn.btn--blue Update Password