extends baseAccount

block content
  main.main.main-account
    .user-view
      .user-view__content
        .user-view__form-container
          form#adCreateShowtimeForm.form
            .form__group
              .form__title.u-center-text
                h1.heading-primary.u-margin-bottom-small Create Showtime

                small.form__info-small.small-text Let's create a showtime! Fields with * are required.
            
            .form__group
              input#showtimeShow.form__input.input-text(type='text' name='showtimeShow' placeholder='Show ID*' required)
              label.form__label.label-text(for='showtimeShow') Please add the show.

            .form__group
              input#showtimeTheater.form__input.input-text(type='text' name='showtimeTheater' placeholder='Theater ID*' required)
              label.form__label.label-text(for='showtimeTheater') Please add the theater.

            - const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

            - const days = [...Array(32).keys()].splice(1)

            - const now = new Date().getFullYear()
            - const years = Array(2).fill('').map((val, i) => now + i)

            - const hours = [...Array(25).keys()].splice(0)
            - const minSecs = [...Array(61).keys()].splice(0)

            .form__group
              .form__date
                .form__date-month
                  select#showtimeStartMonth.dropdown(name='selectStartMonth' tabindex='0' required)
                    option(value) Start Month*

                    each month in months
                      option(value=`${month}`)= month

                .form__date-day
                  select#showtimeStartDay.dropdown(name='selectStartDay' tabindex='0' required)
                    option(value) Day*

                    each day in days
                      option(value=`${day}`)= day

                .form__date-year
                  select#showtimeStartYear.dropdown(name='selectStartYear' tabindex='0' required)
                    option(value) Year*

                    each year in years
                      option(value=`${year}`)= year

            .form__group
              .form__date
                .form__date-month
                  select#showtimeStartHour.dropdown(name='selectStartHour' tabindex='0' required)
                    option(value) Start Hour*

                    each hour in hours
                      option(value=`${hour}`)= hour

                .form__date-day
                  select#showtimeStartMinute.dropdown(name='selectStartMinute' tabindex='0' required)
                    option(value) Minute*

                    each minute in minSecs
                      option(value=`${minute}`)= minute

                .form__date-year
                  select#showtimeStartSecond.dropdown(name='selectStartSecond' tabindex='0' required)
                    option(value) Seconds*

                    each second in minSecs
                      option(value=`${second}`)= second

            .form__group
              .form__date
                .form__date-month
                  select#showtimeEndHour.dropdown(name='selectEndHour' tabindex='0' required)
                    option(value) End Hour*

                    each hour in hours
                      option(value=`${hour}`)= hour

                .form__date-day
                  select#showtimeEndMinute.dropdown(name='selectEndMinute' tabindex='0' required)
                    option(value) Minute*

                    each minute in minSecs
                      option(value=`${minute}`)= minute

                .form__date-year
                  select#showtimeEndSecond.dropdown(name='selectEndSecond' tabindex='0' required)
                    option(value) Seconds*

                    each second in minSecs
                      option(value=`${second}`)= second

            .form__group
              button#btnCreateShowtime.btn.btn--blue(type='submit' name='btnCreateShowtime') Create