extends baseAccount

block content
  main.main
    .user-view
      .user-view__content
        .user-view__form-container
          form#updateShowtimeMainView.form
            .form__group.form__group--info
              .form__title.u-center-text
                h1.heading-primary.u-margin-bottom-small Showtime Settings

                small.form__info-small.small-text Change the start date, start time, and end time.

            - const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

            - const days = [...Array(32).keys()].splice(1)

            - const now = new Date().getFullYear()
            - const years = Array(2).fill('').map((val, i) => now + i)

            - const hours = [...Array(25).keys()].splice(0)
            - const minSecs = [...Array(61).keys()].splice(0)

            - var monthValue = showtime.startDateTime.toLocaleString('en-us', {month: 'long'})
            - var dayValue = showtime.startDateTime.toLocaleString('en-us', {day: 'numeric'})
            -var yearValue = showtime.startDateTime.toLocaleString('en-us', {year: 'numeric'})

            - var startHourValue = showtime.startDateTime.toLocaleString('en-us', {hour12: false, hour: '2-digit'})
            - var startMinuteValue = showtime.startDateTime.toLocaleString('en-us', {hour12: false, minute: '2-digit'})
            - var startSecondValue = showtime.startDateTime.toLocaleString('en-us', {hour12: false, second: '2-digit'})

            - var endHourValue = showtime.endDateTime.toLocaleString('en-us', {hour12: false, hour: '2-digit'})
            - var endMinuteValue = showtime.endDateTime.toLocaleString('en-us', {hour12: false, minute: '2-digit'})
            - var endSecondValue = showtime.endDateTime.toLocaleString('en-us', {hour12: false, second: '2-digit'})

            .form__group
              .form__date
                .form__date-month
                  select#showtimeStartMonth.dropdown(name='selectStartMonth' tabindex='0' required)
                    option(value, selected=(true)) Start Month*

                    each month in months
                      - var monthSelected = (monthValue === month) ? true : false
                      option(value=`${month}`, selected=(monthSelected))= month

                .form__date-day
                  select#showtimeStartDay.dropdown(name='selectStartDay' tabindex='0' required)
                    option(value) Day*

                    each day in days
                      - var daySelected = (dayValue == day) ? true : false
                      option(value=`${day}`, selected=(daySelected))= day

                .form__date-year
                  select#showtimeStartYear.dropdown(name='selectStartYear' tabindex='0' required)
                    option(value) Year*

                    each year in years
                      - var yearSelected = (yearValue == year) ? true : false
                      option(value=`${year}`, selected=(yearSelected))= year

            .form__group
              .form__date
                .form__date-month
                  select#showtimeStartHour.dropdown(name='selectStartHour' tabindex='0' required)
                    option(value) Start Hour*

                    each hour in hours
                      - var hourSelected = (startHourValue == hour) ? true : false
                      option(value=`${hour}`, selected=(hourSelected))= hour

                .form__date-day
                  select#showtimeStartMinute.dropdown(name='selectStartMinute' tabindex='0' required)
                    option(value) Minute*

                    each minute in minSecs
                      - var minuteSelected = (startMinuteValue == minute) ? true : false
                      option(value=`${minute}`, selected=(minuteSelected))= minute

                .form__date-year
                  select#showtimeStartSecond.dropdown(name='selectStartSecond' tabindex='0' required)
                    option(value) Seconds*

                    each second in minSecs
                      - var secondSelected = (startSecondValue == second) ? true : false
                      option(value=`${second}`, selected=(secondSelected))= second

            .form__group
              .form__date
                .form__date-month
                  select#showtimeEndHour.dropdown(name='selectEndHour' tabindex='0' required)
                    option(value) End Hour*

                    each hour in hours
                      - var hourSelected = (endHourValue == hour) ? true : false
                      option(value=`${hour}`, selected=(hourSelected))= hour

                .form__date-day
                  select#showtimeEndMinute.dropdown(name='selectEndMinute' tabindex='0' required)
                    option(value) Minute*

                    each minute in minSecs
                      - var minuteSelected = (endMinuteValue == minute) ? true : false
                      option(value=`${minute}`, selected=(minuteSelected))= minute

                .form__date-year
                  select#showtimeEndSecond.dropdown(name='selectEndSecond' tabindex='0' required)
                    option(value) Seconds*

                    each second in minSecs
                      - var secondSelected = (endSecondValue == second) ? true : false
                      option(value=`${second}`, selected=(secondSelected))= second

            .form__group
              button#btnUpdateShowtimeData.btn.btn--blue(type='submit' name='btnUpdateShowtimeData' data-showtime-id=`${showtime.id}`) Update Showtime Settings

        .line &nbsp;

        .user-view__form-container
          form#updateShowtimeAddl.form
            .form__group.form__group--info
              .form__title.u-center-text
                h1.heading-primary.u-margin-bottom-small Change Showtimes Add'l Info

                small.form__info-small.small-text Change the show and theater belonging to the showtime.

            .form__group
              input#showtimeShow.form__input.input-text(type='text' name='showtimeShow' placeholder='Show ID*' value=`${showtime.shows[0].id}` required)
              label.form__label.label-text(for='showtimeShow') Please add the show.

            .form__group
              input#showtimeTheater.form__input.input-text(type='text' name='showtimeTheater' placeholder='Theater ID*' value=`${showtime.theaters[0].id}` required)
              label.form__label.label-text(for='showtimeTheater') Please add the theater.

            .form__group
              button#btnUpdateShowtimeAddl.btn.btn--blue(type='submit' name='btnUpdateShowtimeAddl' data-showtime-id=`${showtime.id}`) Update Add'l Info

        .line &nbsp;

        .user-view__form-container
          form#deleteShowtimeForm.form
            .form__group.form__group--info
              .form__title.u-center-text
                h1.heading-primary.u-margin-bottom-small Remove Showtime

                small.form__info-small.small-text Please enter your password to remove the showtime.

            .form__group
              input#password.form__input.input-text(type='password' placeholder='••••••' required)
              label.form__label.label-text(for='password') Please enter your password

            .form__group
              button#btnDeleteShowtimeData.btn.btn--red(type='submit' name='btnDeleteShowtimeData' data-showtime-id=`${showtime.id}`) Remove Showtime