extends baseAccount

block content
  main.main.main-account
    .user-view
      .user-view__content
        .user-view__form-container
          form#updateTheaterMainView.form(novalidate)
            .form__group
              .form__title.u-center-text
                h2.heading-secondary Theater Settings
            
            .form__group
              input#theaterName.form__input.input-text(type='text' name='theater-name' placeholder='Name*' value=`${theater.name}` minlength='7' maxlength='100' required)
              label.form__label.label-text(for='theaterName') Please give a name to the theater

            .form__group
              input#theaterPhone.form__input.input-text(type='text' name='phone' placeholder='Phone Number*' value=`${theater.phone}` pattern='[\(]\d{3}[\)]\s?\d{3}[\-]\d{4}' title='(000)000-0000, or a space between (000) 000-0000' required)
              label.form__label.label-text(for='theaterPhone') Please give the theater's phone number as (###)###-#### or (###) ###-####

            .form__group
              input#theaterLinkUrl.form__input.input-text(type='text' name='linkurl' placeholder='Website URL (optional)' value=`${theater.linkUrl}` pattern='http(s?)(:\/\/)((www.)?)(([^.]+)\.)?([a-zA-z0-9\-_]+)(.com|.net|.gov|.org|.in)(\/[^\s]*)?')
              label.form__label.label-text(for='theaterLinkUrl') Does the theater have a website?
            
            //- .form__group
            //-   .form__photo-upload
            //-     img#photoSource.form__show-photo(src=`/img/theaters/${theater.photo}`, alt=`${theater.name} Photo`)
            //-     input#theaterPhoto.form__upload(type='file', accept='image/*', name='theaterPhoto', required)
            //-     label.form__label-upload.label-text(for='theaterPhoto') Choose a theater photo*

            .form__group
              button#btnUpdateTheaterData.btn.btn--blue(type='submit' name='hexadecimal-btn' data-theater-id=`${theater.id}` data-role-type=`${user.role}`) Update

        .line &nbsp;

        .user-view__form-container
          form#updateTheaterPhoto.form(novalidate)
            .form__group
              .form__title.u-center-text
                h2.heading-secondary Change Theater's Photo

            .form__group
              .form__photo-upload
                img#photoSource.form__show-photo(src=`${theater.cloudinaryPhoto.cloudinaryUrl}`, alt=`${theater.name} Photo`)
                input#theaterPhoto.form__upload(type='file', accept='image/*', name='theaterPhoto', required)
                label.form__label-upload.label-text(for='theaterPhoto') Choose a theater photo*

            .form__group
              button#btnUpdateTheaterPhoto.btn.btn--blue(type='submit' name='hexadecimal-btn' data-theater-id=`${theater.id}` data-role-type=`${user.role}`) Update

        .line &nbsp;

        .user-view__form-container
          form#updateTheaterLocation.form(novalidate)
            .form__group
              .form__title.u-center-text
                h2.heading-secondary Change Theater's Location
            
            .form__group
              input#theaterAddress.form__input.input-text(type='text' name='address' placeholder='Address*' value=`${theater.address}` minlength='3' maxlength='96' required)
              label.form__label.label-text(for='theaterAddress') Please give a US address for the theater

            .form__group
              input#theaterCity.form__input.input-text(type='text' name='city' placeholder='City*' value=`${theater.city}` minlength='3' maxlength='50' required)
              label.form__label.label-text(for='theaterCity') Please give a US city for the theater

            .form__group
              input#theaterState.form__input.input-text(type='text' name='state' placeholder='State*' value=`${theater.state}` minlength='2' maxlength='2' required)
              label.form__label.label-text(for='theaterState') Please give a US state abbreviation for the theater

            .form__group
              input#theaterZipCode.form__input.input-text(type='text' name='zipcode' placeholder='ZipCode*' value=`${theater.zipCode}` pattern='\d{5}' title='90095, 5 characters min & max' required)
              label.form__label.label-text(for='theaterZipCode') Please give a US ZIP code the theater

            .form__group
              input#theaterGeoLong.form__input.input-text(type='text' name='geo-long' placeholder='Geo Longitude Location*' value=`${theater.geo.coordinates[0].toString()}` required)
              label.form__label.label-text(for='theaterGeoLong') Please give a longitude location for the theater

            .form__group
              input#theaterGeoLat.form__input.input-text(type='text' name='geo-lat' placeholder='Geo Latitude Location*' value=`${theater.geo.coordinates[1].toString()}` required)
              label.form__label.label-text(for='theaterGeoLat') Please give a latitude location for the theater

            .form__group
              button#btnUpdateTheaterLocation.btn.btn--blue(type='submit' name='hexadecimal-btn' data-theater-id=`${theater.id}` data-role-type=`${user.role}`) Update

        .line &nbsp;

        .user-view__form-container
          form#updateTheaterAddl.form(novalidate)
            .form__group
              .form__title.u-center-text
                h2.heading-secondary Change Theater's Add'l Info

            .form__group
              textarea#theaterDescription.form__text-area.input-text(name='textarea-theaterdescription' placeholder='Theater Description' maxlength='3900')= theater.description
              label.form__label.label-text(for='theaterDescription') Description of the theater?

            .form__group
              .form__special-venue
                select#theaterTicket.form__select.dropdown(name='select-ticket' tabindex='0')

                  - var ticketValue = (theater.isTicketing === true) ? 'y' : 'n'

                  option(value, selected=(true)) Is Ticketing (optional)
                  option(value='y', selected=(ticketValue === 'y')) Yes
                  option(value='n', selected=(ticketValue === 'n')) No
                
                label.form__label.label-text(for='theaterTicket') Does the theater have any tickets?

            .form__group
              .form__special-venue
                select#theaterShowTimes.form__select.dropdown(name='select-showtimes' tabindex='0')

                  - var showtimesValue = (theater.hasShowTimes === true) ? 'y' : 'n'

                  option(value, selected=(true)) Has Showtimes (optional)
                  option(value='y', selected=(showtimesValue === 'y')) Yes
                  option(value='n', selected=(showtimesValue === 'n')) No
                
                label.form__label.label-text(for='theaterShowTimes') Does the theater have any showtimes?

            .form__group
              button#btnUpdateTheaterAddl.btn.btn--blue(type='submit' name='hexadecimal-btn' data-theater-id=`${theater.id}` data-role-type=`${user.role}`) Update

        .line &nbsp;

        .user-view__form-container
          form#updateTheaterChain.form(novalidate)
            .form__group
              .form__title.u-center-text
                h2.heading-secondary.u-margin-bottom-small Update the Theater's Chain

            .form__group
              input#theaterChainName.form__input.input-text(type='text' name='chainname' placeholder='Chain Name (optional)' value=`${theater.chainName}` minlength='7' maxlength='80')
              label.form__label.label-text(for='theaterChainName') Name of the chain the theater belongs?

            //- .form__group
            //-   input#theaterChainCode.form__input.input-text(type='text' name='theaterChainCode' placeholder='Chain Code' value=`${theater.chainCode}`)
            //-   label.form__label.label-text(for='theaterChainCode') Please give a code that the chain has.

            //- .form__group
            //-   .form__photo-upload
            //-     img#chainLogo.form__show-photo(src=`/img/theaters/${theater.chainLogo}`, alt="Chain Logo")
            //-     input#theaterChainLogo.form__upload(type='file', accept='image/*', name='chainPhoto')
            //-     label.form__label.label-text(for='theaterChainLogo') Chain logo (optional)

            .form__group
              button#btnUpdateTheaterChain.btn.btn--blue(type='submit' name='hexadecimal-btn' data-theater-id=`${theater.id}` data-role-type=`${user.role}`) Update

        .line &nbsp;

        .user-view__form-container
          form#deleteTheaterForm.form(novalidate)
            .form__group.form__group--info
              .form__title.u-center-text
                h2.heading-secondary.u-margin-bottom-small Delete Theater

                small.form__info-small.small-text Please enter your password to delete the theater.

            .form__group
              input#password.form__input.input-text(type='password' name='password' placeholder='••••••••' required)
              label.form__label.label-text(for='password') Please enter your password

            .form__group
              button#btnDeleteTheaterData.btn.btn--red(type='submit' name='hexadecimal-btn' data-theater-id=`${theater.id}`) Delete Theater

block circleNavigation
  include ../_circleNav