extends baseAccount

block content
  main.main.main-account
    - console.log(review)
    .user-view
      .user-view__content
        .user-view__form-container
          form#updateReview.form(novalidate)
            .form__group
              .form__title.u-center-text
                h2.heading-secondary Your Review Settings

            .form__group
              input#reviewShowTitle.form__input.input-text(type='text' name='reviewShowTitle' placeholder=`Show Title: ${review.show.title}` disabled)

            .form__group
              input#reviewRating.form__input.input-text(type='number' name='review-rating' placeholder='Rating*' value=`${review.rating}` min='1' max='5' required)
              label.form__label.label-text(for='reviewRating') Please enter a rating

            .form__group
              textarea#review.form__text-area.input-text(name='textarea-review' placeholder='Your Review*' minlength='20' maxlength='280' required)= review.review
              label.form__label.label-text(for='review') Please provide your review
            
            .form__group
              button#btnUpdateReviewData.btn.btn--blue(type='submit' name='hexadecimal' data-show-id=`${review.show.id}`) Update Review Settings

        .line &nbsp;

        .user-view__form-container
          form#deleteReviewForm.form(novalidate)
            .form__group.form__group--info
              .form__title.u-center-text
                h2.heading-secondary.u-margin-bottom-small Delete Your Review

                small.form__info-small.small-text= `Please enter your password to delete your review for ${review.show.title}`

            .form__group
              input#password.form__input.input-text(type='password' name='password' placeholder='••••••••' required)
              label.form__label.label-text(for='password') Please enter your password

            .form__group
              button#btnDeleteReviewData.btn.btn--red(type='submit' name='hexadecimal' data-review-id=`${review.id}`) Delete Review