extends baseAccount

mixin showsCard(show)
  - const url = (user.role === 'admin') ? `/admin/shows/${show.id}` : `/myShows/${show.slug}`
  .card-account__content
    .card-account__content-photo
      a.card-account__content-photo-link.picture-link(href=`${url}`)
        img.card-account__content-photo-img(src=`${show.cloudinaryPhoto.cloudinaryUrl}`, alt=`${show.title}`)

    .card-account__content-type.u-margin-bottom-small
      h3.card-account__content-type-name.heading-tertiary= show.title
    
    .card-account__metadata-container
      ul.card-account__metadata
        li.card-account__metadata-item.paragraph= show.mpaaRating

        - const hours = Math.floor(show.durationHours)
        - const minutes = show.duration - hours*60

        li.card-account__metadata-item.paragraph= `${hours}h ${minutes}m`

    .card-account__footer
      if user && user.role === 'admin'
        .card-account__footer-duo-btn
          .card-account__footer-duo-btn-1
            a.btn.btn__promo.btn--duo(href=`${url}`) Edit

          .card-account__footer-duo-btn-2
            a.btn.btn__promo.btn--duo(href=`${url}/reviews`) Reviews
      else
        a.btn.btn__promo(href=`${url}`) Edit

  .line &nbsp;

block content
  main.main.main-account
    .user-view
      .user-view__content
        .user-view__account-container
          .account-box
            .account-box__title.u-margin-top-small.u-margin-bottom-small
              - const pageTitle = (user.role === 'admin') ? 'Shows in System' : 'My Shows'
              h2.heading-secondary= pageTitle
            
            .account-box__card-container.u-center-text
              each show in shows
                +showsCard(show)

block circleNavigation
  include ../_circleNav
          