extends baseAccount

mixin usersCard(user)
  .showtimes-box__theatertime
    .showtimes-box__theatertime-poster
      a.showtimes-box__theatertime-poster-link.picture-link(href=`/admin/users/${user._id}`)
        img.showtimes-box__theatertime-poster-img(src=`/img/users/${user.photo}`, alt=`${user.name} Photo`)

    .showtimes-box__theatertime-theater.u-margin-bottom-small
      h3.showtimes-box__theatertime-theater-name.heading-tertiary= user.name
    
    .showtimes-box__metadata-container
      ul.showtimes-box__metadata
        li.showtimes-box__metadata-item.paragraph= `Role: ${user.role}`

    .showtimes-box__ticket-buy
      if user.role === 'event-owner'
        .form__duo-btn
          .form__duo-btn-previous
            a.btn.btn__promo(href=`/admin/users/${user._id}`) Edit You

          .form__duo-btn-next
            a.btn.btn__promo(href=`/admin/users/${user._id}/shows`) View Shows
      else
        .form__duo-btn
          .form__duo-btn-previous
            a.btn.btn__promo(href=`/admin/users/${user._id}`) Edit User

          .form__duo-btn-next
            a.btn.btn__promo(href=`/admin/users/${user._id}/reviews`) View Reviews

  .line &nbsp;

block content
  main.main.main-account
    - console.log(optionUsers)
    .user-view
      .user-view__content
        .user-view__eventowners-container
          .eventowners-box
            .eventowners-box__title.u-margin-top-small.u-margin-bottom-small
              h2.heading-secondary Users in System

            .eventowners-box__shows-container.u-center-text
              each user in optionUsers
                +usersCard(user)