extends base

mixin theatersCard(theater)
  .showtimes-box__theatertime
    .showtimes-box__theatertime-poster
      a.showtimes-box__theatertime-poster-link.picture-link(href=`/admin/theaters/${theater.id}`)
        img.showtimes-box__theatertime-poster-img(src=`/img/theaters/${theater.photo}`, alt=`${theater.name} Photo`)

    .showtimes-box__theatertime-theater.u-margin-bottom-small
      h3.showtimes-box__theatertime-theater-name.heading-tertiary= theater.name
    
    .showtimes-box__metadata-container
      ul.showtimes-box__metadata
        li.showtimes-box__metadata-item.paragraph= `Chain: ${theater.chainName}`

        li.showtimes-box__metadata-item.paragraph= `Address: ${theater.address}, ${theater.city}, ${theater.state} ${theater.zipCode}`

    .showtimes-box__ticket-buy
      a.btn.btn__promo(href=`/admin/theaters/${theater.id}`) Edit

  .line &nbsp;

block content
  main.main
    .user-view
      .user-view__content
        .user-view__eventowners-container
          .eventowners-box
            .eventowners-box__title.u-margin-top-small.u-margin-bottom-small
              h2.heading-secondary Theaters in System
            
            .eventowners-box__shows-container.u-center-text
              each theater in theaters
                +theatersCard(theater)