extends baseAccount

mixin castcrewsCard(castcrew)
  .card-account__content
    .card-account__content-photo
      a.card-account__content-photo-link.picture-link(href=`/admin/castcrews/${castcrew.id}`)
        img.card-account__content-photo-img(src=`/img/castcrew/${castcrew.photo.urlLarge}`, alt=`${castcrew.name} Photo`)

    .card-account__content-type.u-margin-bottom-small
      h3.card-account__content-type-name.heading-tertiary= castcrew.name
    
    .card-account__metadata-container
      ul.card-account__metadata
        li.card-account__metadata-item.paragraph.u-uppercase-text= `Role: ${castcrew.roles.join(', ')}`

    .card-account__footer
      a.btn.btn__promo(href=`/admin/castcrews/${castcrew.id}`) Edit

  .line &nbsp;

block content
  main.main.main-account
    .user-view
      .user-view__content
        .user-view__account-container
          .account-box
            .account-box__title.u-margin-top-small.u-margin-bottom-small
              h2.heading-secondary Casts | Crews in System
            
            .account-box__card-container.u-center-text
              each castcrew in castcrews
                +castcrewsCard(castcrew)