extends baseAccount

mixin usersCard(user)
  .card-account__content
    .card-account__content-photo
      a.card-account__content-photo-link.picture-link(href=`/admin/users/${user._id}`)
        img.card-account__content-photo-img(src=`/img/users/${user.photo}`, alt=`${user.name} Photo`)

    .card-account__content-type.u-margin-bottom-small
      h3.card-account__content-type-name.heading-tertiary= user.name
    
    .card-account__metadata-container
      ul.card-account__metadata
        li.card-account__metadata-item.paragraph= `Role: ${user.role}`

    .card-account__footer
      if user.role === 'event-owner'
        .card-account__footer-duo-btn
          .card-account__footer-duo-btn-1
            a.btn.btn__promo(href=`/admin/users/${user._id}`) Edit User

          .card-account__footer-duo-btn-2
            a.btn.btn__promo(href=`/admin/users/${user._id}/shows`) Shows
      else
        .card-account__footer-duo-btn
          .card-account__footer-duo-btn-1
            a.btn.btn__promo(href=`/admin/users/${user._id}`) Edit User

          .card-account__footer-duo-btn-2
            a.btn.btn__promo(href=`/admin/users/${user._id}/reviews`) Reviews

  .line &nbsp;

block content
  main.main.main-account
    - console.log(optionUsers)
    .user-view
      .user-view__content
        .user-view__account-container
          .account-box
            .account-box__title.u-margin-top-small.u-margin-bottom-small
              h2.heading-secondary Users in System

            .account-box__card-container.u-center-text
              each user in optionUsers
                +usersCard(user)