extends baseAccount

mixin showtimesCard(showtime)
  .card-account__content
    .card-account__content-type.u-margin-bottom-small
      h3.card-account__content-type-name.heading-tertiary= showtime.shows[0].title

    .card-account__content-photo
      a.card-account__content-photo-link.picture-link(href=`/admin/shows/${showtime.shows[0].id}`)
        img.card-account__content-photo-img(src=`${showtime.shows[0].cloudinaryPhoto.cloudinaryUrl}`, alt=`${showtime.shows[0].title}`)

    .card-account__content-photo.u-margin-top-small
      a.card-account__content-photo-link.picture-link(href=`/admin/theaters/${showtime.theaters[0].id}`)
        img.card-account__content-photo-img(src=`${showtime.theaters[0].cloudinaryPhoto.cloudinaryUrl}`, alt=`${showtime.theaters[0].name}`)

    .card-account__content-type.u-margin-top-small.u-margin-bottom-small
      h3.card-account__content-type-name.heading-tertiary= showtime.theaters[0].name
    
    .card-account__metadata-container
      ul.card-account__metadata
        li.card-account__metadata-item.paragraph.u-uppercase-text= `${showtime.startDateTime.toLocaleString('en-us', {hour: '2-digit', minute: '2-digit', hour12: true})} - ${showtime.endDateTime.toLocaleString('en-us', {hour: '2-digit', minute: '2-digit', hour12: true})}`

    .card-account__footer
      a.btn.btn__promo(href=`/admin/showtimes/${showtime.id}`) Edit

  .line &nbsp;

block content
  main.main.main-account
    .user-view
      .user-view__content
        .user-view__account-container
          .account-box
            .account-box__title.u-margin-top-small.u-margin-bottom-small
              h2.heading-secondary Showtimes in System
            
            .account-box__card-container.u-center-text
              each showtime in showtimes
                +showtimesCard(showtime)

block circleNavigation
  include ../_circleNav