extends baseAccount

mixin theatersCard(theater)
  .card-account__content
    .card-account__content-photo
      a.card-account__content-photo-link.picture-link(href=`/admin/theaters/${theater.id}`)
        img.card-account__content-photo-img(src=`/img/theaters/${theater.photo}`, alt=`${theater.name} Photo`)

    .card-account__content-type.u-margin-bottom-small
      h3.card-account__content-type-name.heading-tertiary= theater.name
    
    .card-account__metadata-container
      ul.card-account__metadata
        li.card-account__metadata-item.paragraph= `Chain: ${theater.chainName}`

        li.card-account__metadata-item.paragraph= `Address: ${theater.address}, ${theater.city}, ${theater.state} ${theater.zipCode}`

    .card-account__footer
      a.btn.btn__promo(href=`/admin/theaters/${theater.id}`) Edit

  .line &nbsp;

block content
  main.main.main-account
    .user-view
      .user-view__content
        .user-view__eventowners-container
          .eventowners-box
            .eventowners-box__title.u-margin-top-small.u-margin-bottom-small
              h2.heading-secondary Theaters in System
            
            .eventowners-box__shows-container.u-center-text
              each theater in theaters
                +theatersCard(theater)