extends base

mixin showtimesCard(showtime)
  .showtimes-box__theatertime
    .showtimes-box__theatertime-theater.u-margin-bottom-small
      h3.showtimes-box__theatertime-theater-name.heading-tertiary= showtime.shows[0].title

    .showtimes-box__theatertime-poster
      a.showtimes-box__theatertime-poster-link.picture-link(href=`/admin/shows/${showtime.shows[0].id}`)
        img.showtimes-box__theatertime-poster-img(src=`/img/shows/${showtime.shows[0].poster.urlLarge}`, alt=`${showtime.shows[0].title}`)

    .showtimes-box__theatertime-poster.u-margin-top-small
      a.showtimes-box__theatertime-poster-link.picture-link(href=`/admin/theaters/${showtime.theaters[0].id}`)
        img.showtimes-box__theatertime-poster-img(src=`/img/theaters/${showtime.theaters[0].photo}`, alt=`${showtime.theaters[0].name}`)

    .showtimes-box__theatertime-theater.u-margin-top-small.u-margin-bottom-small
      h3.showtimes-box__theatertime-theater-name.heading-tertiary= showtime.theaters[0].name
    
    .showtimes-box__theatertime-date
      p.paragraph= `${showtime.startDateTime.toLocaleString('en-us', {hour: '2-digit', minute: '2-digit', hour12: true})} - ${showtime.endDateTime.toLocaleString('en-us', {hour: '2-digit', minute: '2-digit', hour12: true})}`

    .showtimes-box__ticket-buy
      a.btn.btn__promo(href=`/admin/showtimes/${showtime.id}`) Edit

  .line &nbsp;

block content
  main.main
    .user-view
      .user-view__content
        .user-view__eventowners-container
          .eventowners-box
            .eventowners-box__title.u-margin-top-small.u-margin-bottom-small
              h2.heading-secondary Showtimes in System
            
            .eventowners-box__shows-container.u-center-text
              each showtime in showtimes
                +showtimesCard(showtime)