extends baseAccount

mixin reviewsCard(type)
  .card-account__content
    .card-account__content-type.u-margin-bottom-small
      h3.card-account__content-type-name.heading-tertiary= type.show.title

    .card-account__content-photo
      - let showLink
      if user && user.role === 'admin'
        - showLink = `/admin/shows/${type.show.id}`
      if user && user.role === 'event-owner'
        - showLink = `/myShows/${type.show.slug}`
      else
        - showLink = `/show-overview/${type.show.slug}`

      a.card-account__content-photo-link.picture-link(href=`${showLink}`)
        img.card-account__content-photo-img(src=`/img/shows/${type.show.poster.urlLarge}`, alt=`${type.show.title} Poster`)

    .card-account_content-type.u-center-text
      - let userRatingTitle = 'My'
      if user && user.role === 'admin'
        - userRatingTitle = `${type.user.name}`
      if user && user.role === 'event-owner'
        - userRatingTitle = `${type.user.name}`

      h3.card-account__content-type-name.heading-tertiary= `${userRatingTitle} Rating: ${type.rating}/5`

    .card-account__metadata-container
      ul.card-account__metadata
        li.card-account__metadata-item.paragraph= `"${type.review}"`

    .card-account__footer
      if user && user.role === 'admin' && reviewsOnShow
        .card-account__footer-duo-btn
          .card-account__footer-duo-btn-1
            a.btn.btn__promo.btn--duo(href=`/admin/users/${type.user.id}/reviews`) User's Reviews

          .card-account__footer-duo-btn-2
            a.btn.btn__promo.btn--duo(href=`#`) Delete

      else if user && user.role === 'admin' && reviewsOnUser
        .card-account__footer-duo-btn
          .card-account__footer-duo-btn-1
            a.btn.btn__promo.btn--duo(href=`/admin/shows/${type.show.id}/reviews`) Show's Reviews

          .card-account__footer-duo-btn-2
            a.btn.btn__promo.btn--duo(href=`#`) Delete

      else if user && user.role === 'event-owner' && allReviewsTitle
        .card-account__footer-duo-btn
          .card-account__footer-duo-btn-1
            a.btn.btn__promo.btn--duo(href=`/myShowsReviews/${type.show.slug}`) Show's Reviews

          .card-account__footer-duo-btn-2
            a.btn.btn__promo.btn--duo(href='#') Report

      else if user && user.role === 'event-owner' && oneReviewTitle
        .card-account__footer-duo-btn
          .card-account__footer-duo-btn-1
            a.btn.btn__promo.btn--duo(href='/myShowsReviews') Back

          .card-account__footer-duo-btn-2
            a.btn.btn__promo(href='#') Report

      else
        a.btn.btn__promo(href=`/myReviews/${type.show.slug}`) Edit

  .line &nbsp;

block content
  main.main.main-account
    .user-view
      .user-view__content
        .user-view__account-container
          .account-box
            .account-box__title.u-margin-top-small.u-margin-bottom-small
              - let pageTitle
              if user && user.role === 'admin' && reviewsOnShow
                - pageTitle = `Reviews For ${reviewsOnShow}`
              else if user && user.role === 'admin' && reviewsOnUser
                - pageTitle = `Reviews For ${reviewsOnUser}`
              else if user && user.role === 'event-owner' && allReviewsTitle
                - pageTitle = allReviewsTitle
              else if user && user.role === 'event-owner' && oneReviewTitle
                - pageTitle = oneReviewTitle
              else
                - pageTitle = 'My Reviews'
              h2.heading-secondary= pageTitle

            .account-box__card-container.u-center-text
              each review in reviews
                +reviewsCard(review)
                //- .showtimes-box__theatertime
                //-   .showtimes-box__theatertime-poster
                //-     - let showLink
                //-     if user.role === 'admin'
                //-       - showLink = `/admin/shows/${review.show.id}`
                //-     else
                //-       - showLink = `/show-overview/${review.show.slug}`
                //-     a.showtimes-box__theatertime-poster-link.picture-link(href=`${showLink}`)
                //-       img.showtimes-box__theatertime-poster-img(src=`/img/shows/${review.show.poster.urlLarge}`, alt=`${review.show.title} Poster`)

                //-   .showtimes-box__theatertime-theater.u-margin-bottom-small
                //-     h3.showtimes-box__theatertime-theater-name.heading-tertiary= review.show.title

                //-   .card__ratings.u-center-text
                //-     - let userRatingTitle
                //-     if user.role === 'admin'
                //-       - userRatingTitle = `${review.user.name}`
                //-     else
                //-       - userRatingTitle = `My`

                //-     h3.card__ratings-star.heading-tertiary= `${userRatingTitle} Rating: ${review.rating}`

                //-   .card__details
                //-     p.crd__details-overview.paragraph= `"${review.review}"`

                //-   .showtimes-box__ticket-buy
                //-     if user.role === 'admin' && reviewsOnShow
                //-       .form__duo-btn
                //-         .form__duo-btn-previous
                //-           a.btn.btn__promo(href=`/admin/users/${review.user.id}/reviews`) View User's Reviews

                //-         .form__duo-btn-next
                //-           a.btn.btn__promo(href=`#`) Delete Review
                //-     else if user.role === 'admin' && reviewsOnUser
                //-       .form__duo-btn
                //-         .form__duo-btn-previous
                //-           a.btn.btn__promo(href=`/admin/users/${review.user.id}/reviews`) View Show's Reviews

                //-         .form__duo-btn-next
                //-           a.btn.btn__promo(href=`#`) Delete Review
                //-     else
                //-       a.btn.btn__promo(href=`/myReviews/${review.show.slug}`) Edit
