extends baseAccount

mixin usersCard(type)
  .card-account__content
    .card-account__content-photo
      a.card-account__content-photo-link.picture-link(href=`/admin/users/${type._id}`)
        - let sourcePath = u.cloudinaryPhoto.cloudinaryUrl
        if type.cloudinaryPhoto.cloudinaryUrl === 'default.jpg'
          - sourcePath = `/img/users/${type.cloudinaryPhoto.cloudinaryUrl}`

        img.card-account__content-photo-img(src=`${sourcePath}`, alt=`${type.name} Photo`)

    .card-account__content-type.u-margin-bottom-small
      h3.card-account__content-type-name.heading-tertiary= type.name
    
    .card-account__metadata-container
      ul.card-account__metadata
        li.card-account__metadata-item.paragraph= `Role: ${type.role}`

    .card-account__footer
      if type.role === 'event-owner'
        .card-account__footer-duo-btn
          .card-account__footer-duo-btn-1
            a.btn.btn__promo(href=`/admin/users/${type._id}`) Edit

          .card-account__footer-duo-btn-2
            a.btn.btn__promo(href=`/admin/users/${type._id}/shows`) Shows
      else
        .card-account__footer-duo-btn
          .card-account__footer-duo-btn-1
            a.btn.btn__promo(href=`/admin/users/${type._id}`) Edit

          .card-account__footer-duo-btn-2
            a.btn.btn__promo(href=`/admin/users/${type._id}/reviews`) Reviews

  .line &nbsp;

block content
  main.main.main-account
    .user-view
      .user-view__content
        .user-view__account-container
          .account-box
            .account-box__title.u-margin-top-small.u-margin-bottom-small
              h2.heading-secondary Users in System

            .account-box__card-container.u-center-text
              each user in optionUsers
                +usersCard(user)

block circleNavigation
  include ../_circleNav