//- .circlenav
//-   button#circleNavBtn.circlenav__btn +
//-   #circleNavWrapper.circlenav__wrapper
//-     ul: li: a.circlenav__link(href="#"): span.circlenav__span My Settings
    
//-     ul: li: a.circlenav__link(href="#"): span.circlenav__span My Bookings

//-     ul: li: a.circlenav__link(href="#"): span.circlenav__span My Reviews

//-     ul: li: a.circlenav__link(href="#"): span.circlenav__span Billing

//-     ul: li: a.circlenav__link(href="#"): span.circlenav__span Admin
//-   #circleNavOverlay.circlenav__overlay
.circlenav-wrapper
  svg#menu(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-100 -100 700 350")
    style.
      #menu {
        display: block;
        margin: 0 auto;
        overflow: hidden;
      }

      .item { visibility: hidden; }

      /* You can change these default styles any way you want */

      .item .sector {
        transition: all .1s linear;
        fill: #fff;
        stroke: #111;
      }


      .item:hover .sector {
        fill: #eee;
      }

      .menu-trigger {
        fill: #EA2A55;
        pointer-events: auto; /* KEEP THIS to make sure it stays clickable even when SVG's pointer events is disabled */
      }

      .menu-trigger:hover {
        cursor: pointer;
      }

      symbol {
        overflow: visible;
      }
    g#symbolsContainer
      symbol#icon-1.icon.icon-(viewBox="0 0 40 40")
        - let userRole = 'Organizer'
        - let userRoute = '#'
        - let userReviewsRoute = '#'
        if user
          - userRole = (user.role === 'admin') ? 'Admin' : 'Organizer'
          - userRoute = (user.role === 'admin') ? '/admin' : '/myShows'
          - userTicketsRoute = (user.role === 'event-owner') ? '#' : '/myTickets'
          - userReviewsRoute = (user.role === 'event-owner') ? '#' : '/myReviews'

        text(fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.8rem" font-weight="700")= userRole

      symbol#icon-2.icon.icon-(viewBox="0 0 40 40")
        text(fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.8rem" font-weight="700") Billing

      symbol#icon-3.icon.icon-(viewBox="0 0 40 40")
        text(fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.8rem" font-weight="700") Reviews
      
      symbol#icon-4.icon.icon-(viewBox="0 0 40 40")
        text(fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.8rem" font-weight="700") Tickets
      
      symbol#icon-5.icon.icon-(viewBox="0 0 40 40")
        text(fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.8rem" font-weight="700") Settings

    g#itemsContainer
      a#item-1.item(xlink:href=`${userRoute}` href=`${userRoute}` xlink:title="" role="link" tabindex="0" xlink:target="_parent" target="_parent" transform="matrix(1,0,0,1,0,0)" data-svg-origin="250 250")
        title
        path.sector(fill="none" stroke="#111" stroke-width="1" d="M250,250 l250,0 A250,250 0 0,0 452.25424859373686,103.05368692688171 z")
        use(xlink:href="#icon-1" href="#icon-1" width="40" height="40" x="391.6795959472656" y="177.4671173095703" transform="rotate(72 411.6795959472656 197.4671173095703)")

      a#item-2.item(xlink:href="" href="" xlink:title="" role="link" tabindex="0" xlink:target="_parent" target="_parent" transform="matrix(0.80901,-0.58778,0.58778,0.80901,-99.20056166685515,194.69206447938143)" data-svg-origin="250 250")
        title
        path.sector(fill="none" stroke="#111" stroke-width="1" d="M250,250 l250,0 A250,250 0 0,0 452.25424859373686,103.05368692688171 z")
        use(xlink:href="#icon-2" href="#icon-2" width="40" height="40" x="391.6795959472656" y="177.4671173095703" transform="rotate(72 411.6795959472656 197.4671173095703)")

      a#item-3.item(xlink:href=`${userReviewsRoute}` href=`${userReviewsRoute}` xlink:title="" role="link" tabindex="0" xlink:target="_parent" target="_parent" transform="matrix(0.30901,-0.95105,0.95105,0.30901,-65.01837766752521,410.5098804800515)" data-svg-origin="250 250")
        title
        path.sector(fill="none" stroke="#111" stroke-width="1" d="M250,250 l250,0 A250,250 0 0,0 452.25424859373686,103.05368692688171 z")
        use(xlink:href="#icon-3" href="#icon-3" width="40" height="40" x="391.6795959472656" y="177.4671173095703" transform="rotate(72 411.6795959472656 197.4671173095703)")

      a#item-4.item(xlink:href=`${userTicketsRoute}` href=`${userTicketsRoute}` xlink:title="" role="link" tabindex="0" xlink:target="_parent" target="_parent" transform="matrix(-0.30901,-0.95105,0.95105,-0.30901,89.49011951994842,565.0183776675252)" data-svg-origin="250 250")
        title
        path.sector(fill="none" stroke="#111" stroke-width="1" d="M250,250 l250,0 A250,250 0 0,0 452.25424859373686,103.05368692688171 z")
        use(xlink:href="#icon-4" href="#icon-4" width="40" height="40" x="391.6795959472656" y="177.4671173095703" transform="rotate(72 411.6795959472656 197.4671173095703)")

      a#item-5.item(xlink:href="/me" href="/me" xlink:title="" role="link" tabindex="0" xlink:target="_parent" target="_parent" transform="matrix(-0.80901,-0.58778,0.58778,-0.80901,305.3079355206185,599.2005616668552)" data-svg-origin="250 250")
        title
        path.sector(fill="none" stroke="#111" stroke-width="1" d="M250,250 l250,0 A250,250 0 0,0 452.25424859373686,103.05368692688171 z")
        use(xlink:href="#icon-5" href="#icon-5" width="40" height="40" x="391.6795959472656" y="177.4671173095703" transform="rotate(72 411.6795959472656 197.4671173095703)")

    if user
      g#trigger.trigger.menu-trigger(role="button")
        circle(cx="250" cy="250" r="70")
        text#label(text-anchor="middle" x="250" y="235" fill="#fff" font-size="2rem") My Menu
    else
      g#no-trigger.trigger.menu-trigger(role="button")
        circle(cx="250" cy="250" r="70")
        a(xlink:href="/login" href="/login"): text#label(text-anchor="middle" x="250" y="235" fill="#fff" font-size="2rem") Sign In
