extends base

block content
  main.main
    .user-view
      .user-view__content
        .user-view__form-container
          form#updateShowMainView.form
            .form__group
              .form__title.u-center-text
                h1.heading-primary Your Show Settings
            
            .form__group
              input#showTitle.form__input.input-text(type='text' name='showTitle' placeholder='Title*' value=`${show.title}` required)
              label.form__label.label-text(for='showTitle') Please give a title for your show.

            .form__group
              .form__mpaa
                select#selectMpaa.dropdown(name='selectMpaa' tabindex='0' required)
                  option(value, selected= true) MPAA Rating*

                  - const mpaaList = ['G', 'PG', 'PG-13', 'R', 'NC-17', 'NR', 'Unrated', 'TV-Y', 'TV-Y7', 'TV-G', 'TV-PG', 'TV-14', 'TV-MA']

                  each mpaa in mpaaList
                    - var mpaaSelected = (show.mpaaRating === mpaa) ? true : false

                    option(value=`${mpaa}`, selected=(mpaaSelected))= mpaa
            
            .form__group
              .form__date
                .form__date-month
                  select#showOriginalMonth.dropdown(name='selectOriginalMonth' tabindex='0' required)
                    option(value, selected=(true)) Original Month*

                    - const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

                    - var monthValue = show.originalReleaseDate.toLocaleString('en-us', {month: 'long'})

                    each month in months
                      - var monthSelected = (monthValue === month) ? true : false

                      option(value=`${month}`, selected=(monthSelected))= month

                .form__date-day
                  select#showOriginalDay.dropdown(name='selectOriginalDay' tabindex='0' required)
                    option(value, selected=(true)) Day

                    - const days = [...Array(32).keys()].splice(1)

                    - var dayValue = show.originalReleaseDate.toLocaleString('en-us', {day: 'numeric'})

                    each day in days
                      - var daySelected = (dayValue == day) ? true : false

                      option(value=`${day}`, selected=(daySelected))= day

                .form__date-year
                  select#showOriginalYear.dropdown(name='selectOriginalYear' tabindex='0' required)
                    option(value, selected=(true)) Year

                    - const now = new Date().getFullYear()
                    - const years = Array(now - (now - 101)).fill('').map((val, i) => now - i)

                    - var yearValue = show.originalReleaseDate.toLocaleString('en-us', {year: 'numeric'})

                    each year in years
                      - var yearSelected = (yearValue == year) ? true : false

                      option(value=`${year}`, selected=(yearSelected))= year

            .form__group
              input#showDuration.form__input.input-text(type='number' name='showDuration' placeholder='Duration*' value=`${show.duration}` required)
              label.form__label.label-text(for='showDuration') Please enter your show's duration in minutes

            .form__group
              .form__photo-upload
                img#posterSource.form__show-photo(src=`/img/shows/${show.poster.urlLarge}`, alt=`${show.title} poster`)
                input#showPhoto.form__upload(type='file' accept='image/*' name='poster' required)
                label(for='showPhoto') Choose a different poster*

            .form__group
              button#btnUpdateShowData.btn.btn--blue(type='submit' name='btnUpdateShowData') Update Show Settings

        .line &nbsp;

        .user-view__form-container
          form#updateShowPlot.form
            .form__group
              .form__title.u-center-text
                h1.heading-primary Change Your Show's Plot
            
            .form__group
              textarea#showOverview.form__text-area.input-text(name='textareaOverview' placeholder='Show Overview*' required)= show.overview
              label.form__label.label-text(for='showOverview') Please provide a short synopsis i.e. overview or logline.

            .form__group
              textarea#showSynopsis.form__text-area.input-text(name='textareaSynopsis' placeholder='Show Synopsis')= show.synopsis
              label.form__label.label-text(for='showSynopsis') A synopsis is a condensed outline. Don't spoil.

            .form__group
              button#btnUpdateShowPlot.btn.btn--blue(type='submit' name='btnUpdateShowPlot') Update Plot

        .line &nbsp;

        .user-view__form-container
          form#updateShowAddl.form
            .form__group
              .form__title.u-center-text
                  h1.heading-primary Change Your Show's Add'l Info

            .form__group
              .form__content-type
                select#showContentType.dropdown(name='selectContentType' tabindex='0' required)
                  option(value, selected=(true)) Content Select*
                  option(value='Film', selected=(show.contentType === 'Film')) Film
                  option(value='TV', selected=(show.contentType === 'TV')) TV

            - const genres = (show.genres == null) ? '' : show.genres
            - const languages = (show.language == null) ? '' : show.language
            - const subtitles = (show.subtitles == null) ? '' : show.subtitles

            .form__group
              input#showGenre.form__input.input-text(type='text' name='showGenre' placeholder='Genre(s)' value=`${genres}`)
              label.form__label.label-text(for='showGenre') What genre(s) is it?

            .form__group
              input#showLanguage.form__input.input-text(type='text' name='showLanguage' placeholder='Language' value=`${languages}`)
              label.form__label.label-text(for='showLanguage') What language it will have? Ex: 'French'

            .form__group
              input#showSubtitles.form__input.input-text(type='text' name='showSubtitles' placeholder='Subtitles' value=`${subtitles}`)
              label.form__label.label-text(for='showSubtitles') Any subtitles? Ex: 'English'

            .form__group
              button#btnUpdateShowAddl.btn.btn--blue Update Add'l Info

        .line &nbsp;

        .user-view__form-container
          form#updateShowPrice.form
            .form__group
              .form__title.u-center-text
                  h1.heading-primary.u-margin-bottom-small Change Your Show's Price

                  small.form__info-small.small-text For adding a price discount, please contact the admin.

            .form__group
              input#showPrice.form__input.input-text(type='number' name='showPrice' placeholder='Show Price*' value=`${show.price}` required)
              label.form__label.label-text(for='showPrice') Please enter your price on the show.

            .form__group
              .form__special-venue
                select#showSpecialVenue.dropdown(name='selectSpecialVenue' tabindex='0')

                  - var specialVenueValue = (show.specialVenue === true) ? 'y' : 'n'

                  option(value, selected=(true)) Special Venue
                  option(value='y', selected=(specialVenueValue === 'y')) Yes
                  option(value='n', selected=(specialVenueValue === 'n')) No

            .form__group
              button#btnUpdateShowPrice.btn.btn--blue(type='submit' name='btnUpdateShowPrice') Update Pricing

        //- .line &nbsp;

        //- .user-view__form-container
        //-   form#updateShowImagePromo
        //-     .form__group
        //-       .form__title.u-center-text
        //-           h1.heading-primary.u-margin-bottom-small Add Promotional Images

        //-           small.form__info-small.small-text Upload promotional images related to your show. They could be BTS photography, or during the night of your show. A limit of 5 uploads.

        //-     .form__group
              

        //-     .form__group

        //-     .form__group

        //-     .form__group

        //-     .form__group

        //-     .form__group

        //- .line &nbsp;

        //- .user-view__form-container