extends base

mixin showsCard(show)
  - const url = (user.role === 'admin') ? `/admin/shows/${show.id}` : `/myShows/${show.slug}`
  .showtimes-box__theatertime
    .showtimes-box__theatertime-poster
      a.showtimes-box__theatertime-poster-link.picture-link(href=`${url}`)
        img.showtimes-box__theatertime-poster-img(src=`/img/shows/${show.poster.urlLarge}`, alt=`${show.title}`)

    .showtimes-box__theatertime-theater.u-margin-bottom-small
      h3.showtimes-box__theatertime-theater-name.heading-tertiary= show.title
    
    .showtimes-box__metadata-container
      ul.showtimes-box__metadata
        li.showtimes-box__metadata-item.paragraph= show.mpaaRating

        - const hours = Math.floor(show.durationHours)
        - const minutes = show.duration - hours*60

        li.showtimes-box__metadata-item.paragraph= `${hours}h ${minutes}m`

    .showtimes-box__ticket-buy
      if user.role === 'admin'
        .form__duo-btn
          .form__duo-btn-previous
            a.btn.btn__promo(href=`${url}`) Edit Show

          .form__duo-btn-next
            a.btn.btn__promo(href=`${url}/reviews`) View Reviews
      else
        a.btn.btn__promo(href=`${url}`) Edit

  .line &nbsp;

block content
  main.main
    .user-view
      .user-view__content
        .user-view__eventowners-container
          .eventowners-box
            .eventowners-box__title.u-margin-top-small.u-margin-bottom-small
              - const pageTitle = (user.role === 'admin') ? 'Shows in System' : 'My Shows'
              h2.heading-secondary= pageTitle
            
            .eventowners-box__shows-container.u-center-text
              each show in shows
                +showsCard(show)

                //- .showtimes-box__theatertime
                //-   .showtimes-box__theatertime-poster
                //-     a.showtimes-box__theatertime-poster-link.picture-link(href=`/myShows/${show.slug}`)
                //-       img.showtimes-box__theatertime-poster-img(src=`/img/shows/${show.poster.urlLarge}`, alt=`${show.title}`)

                //-   .showtimes-box__theatertime-theater.u-margin-bottom-small
                //-     h3.showtimes-box__theatertime-theater-name.heading-tertiary= show.title
                  
                //-   .showtimes-box__metadata-container
                //-     ul.showtimes-box__metadata
                //-       li.showtimes-box__metadata-item.paragraph= show.mpaaRating

                //-       - const hours = Math.floor(show.durationHours)
                //-       - const minutes = show.duration - hours*60

                //-       li.showtimes-box__metadata-item.paragraph= `${hours}h ${minutes}m`

                //-   .showtimes-box__ticket-buy
                //-     a.btn.btn__promo(href=`/myShows/${show.slug}`) Edit
          