extends base

block content
  main.main
    section.section-castcrew-header
      .heading-box
        .heading-box__background

          .heading-box__background-overlay &nbsp;
          img.heading-box__background-img(src=`${castcrew.cloudinaryPhoto.cloudinaryUrl}`, alt=`${castcrew.name}`)

          .bg-video
            video.bg-video__content(autoplay muted loop)
              source(src='/video/castcrews/castcrew-bg-video.mp4')
              source(src='/video/castcrews/castcrew-bg-video.webm')
              | Sorry, your browser does not support embedded videos!

        .heading-box__photo
          img.heading-box__photo-img(src=`${castcrew.cloudinaryPhoto.cloudinaryUrl}`, alt=`${castcrew.name}`)

        .heading-box__castcrew-data-container
          .heading-box__title
            h2.heading-secondary= castcrew.name

          .heading-box__metadata-container
            ul.heading-box__metadata
              each role in castcrew.roles
                li.heading-box__metadata-item.paragraph.u-uppercase-text= role

        .heading-box__castcrew-info-container.u-center-text
          .heading-box__overview
            p.paragraph= `Born on ${castcrew.birthdate.toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})}`
          .heading-box__buy
            a.btn.btn__promo(href='#resume') See Resume

    section.section-castcrew-about
      .about-box
        .about-box__title.u-margin-top-small.u-margin-bottom-small
          h2.heading-secondary Biography
        .about-box__description
          - const biography = castcrew.biography.split('\n')
          each bio in biography
            p.paragraph.u-margin-bottom-small= bio

    section.section-castcrew-resume(id='resume')
      .showtimes-box
        .showtimes-box__title.u-margin-top-small.u-margin-bottom-small
          h2.heading-secondary Resume

        .showtimes-box__theatertime-container.u-center-text
          - let swiperContainerClass = 'none', swiperWrapperClass = 'none', swiperSlideClass = 'none'
          if castcrew.shows.length > 1
            - swiperContainerClass = 'container'
            - swiperWrapperClass = 'wrapper'
            - swiperSlideClass = 'slide'

          .row-scroll.swiper--info(class=`swiper-${swiperContainerClass}`)
            if castcrew.shows.length > 1
              .swiper-button-prev
              .swiper-button-next

            .row__inner--ticket(class=`swiper-${swiperWrapperClass}`)
              each show in castcrew.shows
                .tile-ticket(class=`swiper-${swiperSlideClass}`)
                  .tile-ticket__media
                    a.tile-ticket__media-link.tile-ticket__media-link--poster(href=`/show-overview/${show.slug}`)
                      img.tile-ticket__media-img(src=`${show.cloudinaryPhoto.cloudinaryUrl}`, alt=`${show.title}`)
                  
                  .tile-ticket__title.u-margin-bottom-small
                    h3.tile-ticket__title-content.heading-tertiary= show.title

                  .tile-ticket__metadata-container.u-center-text
                    ul.tile-ticket__metadata
                      li.tile-ticket__metadata-item.paragraph= show.mpaaRating

                      - const hours = Math.floor(show.durationHours)
                      - const minutes = show.duration - hours*60

                      li.tile-ticket__metadata-item.paragraph= `${hours}h ${minutes}m`

                      li.tile-ticket__metadata-item.paragraph= show.genres
                  
                  .tile-ticket__rating
                    p.paragraph.u-uppercase-text= `${show.ratingsAverage} avg. rating`

                  .tile-ticket__datetime
                    p.paragraph= `Released on ${show.originalReleaseDate.toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})}`

                  .tile-ticket__options
                    a.btn.btn--blue(href=`/show-overview/${show.slug}`) View
