extends base

block content
  main.main
    section.section-castcrew-header
      .heading-box
        .heading-box__background

          .heading-box__background-overlay &nbsp;
          img.heading-box__background-img(src=`/img/castcrew/${castcrew.photo.urlLarge}`, alt=`${castcrew.name}`)

          .bg-video
            video.bg-video__content(autoplay muted loop)
              source(src='/video/castcrews/castcrew-bg-video.mp4')
              source(src='/video/castcrews/castcrew-bg-video.webm')
              | Sorry, your browser does not support embedded videos!

        .heading-box__photo
          img.heading-box__photo-img(src=`/img/castcrew/${castcrew.photo.urlLarge}`, alt=`${castcrew.name}`)

        .heading-box__castcrew-data-container
          .heading-box__title
            h2.heading-secondary= castcrew.name

          .heading-box__metadata-container
            ul.heading-box__metadata
              each role in castcrew.roles
                li.heading-box__metadata-item.paragraph.u-uppercase-text= role

        //- Fix the BTN button helper scss class for centering
        .heading-box__castcrew-info-container.u-center-text
          .heading-box__overview
            p.paragraph= `Born on ${castcrew.birthdate.toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})}`
          .heading-box__buy
            a.btn.btn__promo(href='#resume') See Resume

    section.section-castcrew-about
      .about-box
        .about-box__title.u-margin-top-small.u-margin-bottom-small
          h2.heading-secondary Biography
        .about-box__description
          - const biography = castcrew.biography.split('\n')
          each bio in biography
            p.paragraph.u-margin-bottom-small= bio

    //- FIX CLASS NAMES
    section.section-castcrew-resume(id='resume')
      .showtimes-box
        .showtimes-box__title.u-margin-top-small.u-margin-bottom-small
          h2.heading-secondary Resume

        .showtimes-box__theatertime-container.u-center-text
          //- each show in castcrew.shows

          .row-scroll
            .row__inner--ticket
              each show in castcrew.shows
                .tile-ticket
                  .tile-ticket__media
                    a.tile-ticket__media-link.tile-ticket__media-link--poster(href=`/show-overview/${show.slug}`)
                      img.tile-ticket__media-img(src=`/img/shows/${show.poster.urlLarge}`, alt=`${show.title}`)
                  
                  .tile-ticket__title.u-margin-bottom-small
                    h3.tile-ticket__title-content.heading-tertiary= show.title

                  .tile-ticket__metadata-container.u-center-text
                    ul.tile-ticket__metadata
                      li.tile-ticket__metadata-item.paragraph= show.mpaaRating

                      - const hours = Math.floor(show.durationHours)
                      - const minutes = show.duration - hours*60

                      li.tile-ticket__metadata-item.paragraph= `${hours}h ${minutes}m`

                      li.tile-ticket__metadata-item.paragraph= show.genres
                  
                  .tile-ticket__rating
                    p.paragraph.u-uppercase-text= `${show.ratingsAverage} avg. rating`

                  .tile-ticket__datetime
                    p.paragraph= `Released on ${show.originalReleaseDate.toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})}`

                  .tile-ticket__options
                    a.btn.btn--blue(href=`/show-overview/${show.slug}`) View

                  //- .showtimes-box__theatertime
                  //-   .showtimes-box__theatertime-poster
                  //-     a.showtimes-box__theatertime-poster-link.picture-link(href=`/show-overview/${show.slug}`)
                  //-       img.showtimes-box__theatertime-poster-img(src=`/img/shows/${show.poster.urlLarge}`, alt=`${show.title}`)
                  //-   .showtimes-box__theatertime-theater.u-margin-bottom-small
                  //-     // FIX BEM
                  //-     h3.showtimes-box__theatertime-theater-name.heading-tertiary= show.title
                  //-   .showtimes-box__metadata-container
                  //-     ul.showtimes-box__metadata
                  //-       li.showtimes-box__metadata-item.paragraph= show.mpaaRating

                  //-       - const hours = Math.floor(show.durationHours)
                  //-       - const minutes = show.duration - hours*60

                  //-       li.showtimes-box__metadata-item.paragraph= `${hours}h ${minutes}m`
                  //-       li.showtimes-box__metadata-item.paragraph= show.genres
                  //-   .showtimes-box__theatertime-time
                  //-     p.paragraph.u-uppercase-text= `${show.ratingsAverage} avg. rating`
                  //-   .showtimes-box__theatertime-date
                  //-     p.paragraph= `Released on ${show.originalReleaseDate.toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})}`
                  //-   .showtimes-box__ticket-buy
                  //-     // Fix the Btn Helpers in SCSS, and change class names
                  //-     a.btn.btn--blue(href=`/show-overview/${show.slug}`) View
