extends base

block content
  main.main
    .user-view
      .user-view__content
        .user-view__form-container.form-container__multiform
          .form-container__title.u-center-text.u-margin-bottom-small
            - const formTitle = (user.role === 'admin') ? 'Create Show' : 'Create Your Show'
            h1.heading-primary.u-margin-bottom-small= formTitle

          form#eoCreateShowForm.form.form__multiform.form__multiform--fifth(name='eoCreateShowForm')
            //- .form__group
            //-   .title.u-center-text
            //-     h1.heading-primary.u-margin-bottom-small Create Your Show

            //-     small.form__info-small.small-text Let's create your show! Fields with * are required.

            fieldset#eoFieldlist1.form__fieldset.form__fieldset--fifth(name='eoFieldlist1')
              .form__group.u-center-text.u-margin-bottom-small
                - const smallInfo1 = (user.role === 'admin') ? "Let's create a show" : "Let's create your show"
                small.form__info-small.small-text= `${smallInfo1}! Fields with * are required.`

              .form__group
                input#showTitle.form__input.input-text(type='text' name='showTitle' placeholder='Title*' required)
                label.form__label.label-text(for='showTitle') Please give a title for your show.

              .form__group
                .form__mpaa
                  select#selectMpaa.dropdown(name='selectMpaa' tabindex='0' required)
                    option(value) MPAA Rating*

                    - const mpaaList = ['G', 'PG', 'PG-13', 'R', 'NC-17', 'NR', 'Unrated', 'TV-Y', 'TV-Y7', 'TV-G', 'TV-PG', 'TV-14', 'TV-MA']

                    each mpaa in mpaaList
                      option(value=`${mpaa}`)= mpaa

              .form__group
                input#showDuration.form__input.input-text(type='number' name='showDuration' placeholder='Duration*' required)
                label.form__label.label-text(for='showDuration') Please enter your show's duration in minutes

              .form__group
                .form__date
                  .form__date-month
                    select#showOriginalMonth.dropdown(name='selectOriginalMonth' tabindex='0' required)
                      option(value) Original Month*

                      - const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

                      each month in months
                        option(value=`${month}`)= month

                  .form__date-day
                    select#showOriginalDay.dropdown(name='selectOriginalDay' tabindex='0' required)
                      option(value) Day*

                      - const days = [...Array(32).keys()].splice(1)

                      each day in days
                        option(value=`${day}`)= day

                  .form__date-year
                    select#showOriginalYear.dropdown(name='selectOriginalYear' tabindex='0' required)
                      option(value) Year*

                      - const now = new Date().getFullYear()
                      - const years = Array(now - (now - 101)).fill('').map((val, i) => now - i)

                      each year in years
                        option(value=`${year}`)= year
              
              .form__group
                .form__content-type
                  select#showContentType.dropdown(name='selectContentType' tabindex='0' required)
                    option(value) Content Select*
                    option(value='Film') Film
                    option(value='TV') TV
              
              .form__group
                button#btnNext-1.btn.btn--blue(name='btnNext1') Next

            fieldset#eoFieldlist2.form__fieldset.form__fieldset--fifth(name='eoFieldlist2')
              .form__group.form__group--info.u-center-text
                - const smallInfo2 = (user.role === 'admin') ? "The event organizer will not be happy" : "You'll loose potential audiences"
                small.form__info-small.small-text= `A poster shown below is an example on what not to do. ${smallInfo2}. Choose wisely.`

              .form__group
                .form__photo-upload
                  img.form__show-photo(src='/img/shows/default-poster.jpg', alt="Default photo")
                  input#showPhoto.form__upload(type='file', accept='image/*', name='poster', required)
                  label(for='showPhoto') Choose a better poster*

              .form__group
                .form__duo-btn
                  .form__duo-btn-previous
                    button#btnPrev-1.btn.btn--blue.btn--duo(name='btnPrev1') Previous

                  .form__duo-btn-next
                    button#btnNext-2.btn.btn--blue.btn--duo(name='btnNext2') Next

            fieldset#eoFieldlist3.form__fieldset.form__fieldset--fifth(name='eoFieldlist3')
              .form__group.u-center-text
                - const smallInfo3 = (user.role === 'admin') ? "Add what the show is about" : "For inputting cast/crews information, please contact the admin"
                small.form__info-small.small-text= `${smallInfo3}.`

              .form__group
                textarea#showOverview.form__text-area.input-text(name='textareaOverview' placeholder='Show Overview*' required)
                label.form__label.label-text(for='showOverview') Please provide a short synopsis i.e. overview or logline.

              .form__group
                textarea#showSynopsis.form__text-area.input-text(name='textareaSynopsis' placeholder='Show Synopsis (optional)')
                label.form__label.label-text(for='showSynopsis') A synopsis is a condensed outline. Don't spoil.

              .form__group
                .form__duo-btn
                  .form__duo-btn-previous
                    button#btnPrev-2.btn.btn--blue.btn--duo(name='btnPrev2') Previous

                  .form__duo-btn-next
                    button#btnNext-3.btn.btn--blue.btn--duo(name='btnNext3') Next

            fieldset#eoFieldlist4.form__fieldset.form__fieldset--fifth(name='eoFieldlist4')
              .form__group.form__group--info.u-center-text
                - const smallInfo4 = (user.role === 'admin') ? "Optional" : "Optional, but are useful for your audiences"
                small.form__info-small.small-text= `${smallInfo4}.`

              .form__group
                input#showLanguage.form__input.input-text(type='text' name='showLanguage' placeholder='Language (optional)')
                label.form__label.label-text(for='showLanguage') What language it will have? Ex: 'French'

              .form__group
                input#showSubtitles.form__input.input-text(type='text' name='showSubtitles' placeholder='Subtitles (optional)')
                label.form__label.label-text(for='showSubtitles') Any subtitles? Ex: 'English'

              .form__group
                input#showGenre.form__input.input-text(type='text' name='showGenre' placeholder='Genre(s) (optional)')
                label.form__label.label-text(for='showGenre') What genre(s) is it?

              .form__group
                .form__duo-btn
                  .form__duo-btn-previous
                    button#btnPrev-3.btn.btn--blue.btn--duo(name='btnPrev3') Previous

                  .form__duo-btn-next
                    button#btnNext-4.btn.btn--blue.btn--duo(name='btnNext4') Next

            fieldset#eoFieldlist5.form__fieldset.form__fieldset--fifth(name='eoFieldlist5')
              .form__group.form__group--info.u-center-text
                - const smallInfo4 = (user.role === 'admin') ? "A special venue is where guest speakers or a big event will take place, and the event organier want to sell their show's tickets publicly. Private events are where the public cannot buy tickets" : "A special venue is where guest speakers or a big event will take place, and you want to sell your show's tickets publicly. For private events where the public cannot buy tickets, please contact the admin"

                small.form__info-small.small-text= `${smallInfo4}.`

              .form__group
                input#showPrice.form__input.input-text(type='number' name='showPrice' placeholder='Show Price*' required)
                label.form__label.label-text(for='showPrice') Please enter your price on the show.
              
              .form__group
                .form__special-venue
                  select#showSpecialVenue.dropdown(name='selectSpecialVenue' tabindex='0')
                    option(value) Special Venue (optional)
                    option(value='y') Yes
                    option(value='n') No
              
              .form__group
                .form__duo-btn
                  .form__duo-btn-previous
                    button#btnPrev-4.btn.btn--blue.btn--duo(name='btnPrev4') Previous

                  .form__duo-btn-submit
                    button#btnCreateShow.btn.btn--blue.btn--duo(type='submit' name='btnCreateShow') Create
              