extends base

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet')

block content
  main.main
    - console.log(showtimes)
      section.section-home-carousel
        .home-carousel
          .home-carousel__header-wrapper
            h2.home-carousel__header.heading-secondary Upcoming Shows

          - var swiperContainerClass = 'none'
          - var swiperWrapperClass = 'none'
          - var swiperSlideClass = 'none'
          if showtimes.length > 1
            - swiperContainerClass = 'container'
            - swiperWrapperClass = 'wrapper'
            - swiperSlideClass = 'slide'

          .row.row--scroll(class='swiper-'+swiperContainerClass)
            .swiper-button-prev
            .swiper-button-next

            .row__inner.row__inner--poster(class='swiper-'+swiperWrapperClass)
              each showtime in showtimes
                - console.log(showtime)
                .tile-show(class='swiper-'+swiperSlideClass)
                  .tile-show__media
                    img.tile__poster(src=`/img/shows/${showtime.shows[0].poster.urlLarge}`, alt=`${showtime.shows[0].title}`)
                  .tile-show__details
                    .tile-show__title: a.tile-show__link(href=`/show-overview/${showtime.shows[0].slug}`)= showtime.shows[0].title

      section.section-home-special-venues
        .home-special-venues
          .home-special-venues__header-wrapper
            h2.home-special-venues__header.heading-secondary Active Theaters

          .row.row--scroll(class='swiper-'+swiperContainerClass)
            .swiper-button-prev
            .swiper-button-next

            .row__inner(class='swiper-'+swiperWrapperClass)
              each showtime in showtimes
                .tile(class='swiper-'+swiperSlideClass)
                  .tile__media
                    img.tile__img(src=`/img/theaters/${showtime.theaters[0].photo}`, alt=`${showtime.theaters[0].name}`)
                  .tile__details
                    .tile__title: a.tile__link(href=`/theater-overview/${showtime.theaters[0].slug}`)= showtime.theaters[0].name
              //- .tile
              //-   .tile__media
              //-     img.tile__img(src="/img/lawrence-large.jpg", alt="Lawrence of Arabia")
              //-   .tile__details
              //-     .tile__title Lawrence of Arabia

      section.section-home-promo
        .promo

          .promo__parallax
            img.promo__parallax-img.rellax(data-rellax-desktop-speed='-2.5', data-rellax-zindex='-1')

          .promo__image

          .promo__header-wrapper
            h2.promo__header.heading-secondary.heading-secondary--gradient-1 The Mandalorian

          .promo__text-wrapper.u-center-text
            p.promo__text.paragraph.
              It is the way. Watch the entire first season of The Mandalorian at the big screen with special guests Jon Favreau, Pedro Pascal, Taika Waititi, Deborah Chow and more with Q&A session.
            .promo__join: a.btn.btn__promo(href="#") Get Tickets Now

      section.section-home-member
        .member

          .member__parallax
            img.member__parallax-img.rellax(data-rellax-desktop-speed='-2.5', data-rellax-zindex='-1')

          .member__image

          .member__header-wrapper
            h2.member__header.heading-secondary.heading-secondary--gradient-2 Kineto Member

          .member__text-wrapper.u-center-text
            - memberLink = '/register'
            - memberTextContent = 'Join'
            if user
              - memberLink = '/me'
              - memberTextContent = 'View Account'

            p.member__text.paragraph.
              Enjoy being a member by getting early notifications of upcoming films, special venues, and discounted tickets. Connect with friends, create events, leave reviews, and manage you favorite films.
            .member__join: a.btn.btn__join(href=`${memberLink}`)= `${memberTextContent}`

      section.section-home-map
        .home-map
          .map-container
            #mapHome

          .home-map__header-wrapper
            h2.home-map__header.heading-secondary Locations
          
          .home-map__text-wrapper
            p.home-map__text.paragraph.
              Utilizing the precision and power of &copy;Mapbox, finding your favorite shows has never been much easier. Zoom, tap, and locate exactly where you're supposed to be without missing the exciting opening sequence.
      
      section.section-home-join
        .join-organizer
          .join-organizer__header-wrapper
            h2.join-organizer__header.heading-secondary Create Events

          .join-organizer__text-wrapper.u-center-text
            - let organizerLink = '#'
            if user && user.role === 'event-owner'
              - organizerLink = '/createMyShow'
            else if user && user.role === 'admin'
              - organizerLink = '/admin/create-show'

            - let organizerTextContent = 'Select Organizer'
            if user && user.role === 'event-owner'
              - organizerTextContent = 'Create Show'
            else if user && user.role === 'admin'
              - organizerTextContent = 'Create Admin Show'
            
            p.join-organizer__text.paragraph.
              Whether it's a special or secret event, bring the excitement to life by becoming an Event Organizer in coordination with theaters.
          
            .join-organizer__join: a.btn.btn--blue(href=`${organizerLink}`)= `${organizerTextContent}`

        .join-signup
          .join-signup__header-wrapper.u-margin-bottom-small
            h2.join-signup__header.heading-secondary Watch Hundreds of Rare Shows and Special Guests on the Big Screen

          .join-signup__button-wrapper.u-center-text
            - let journeyLink = '/register'
            if user
              - journeyLink = '/shows'
            .join-signup__button: a.btn.btn--blue(href=`${journeyLink}`) Start Your Journey
