extends base

block content
  main.main
    - console.log(reviews)
    .user-view
      .user-view__content
        .user-view__reviews-container
          .reviews-box
            .reviews-box__title.u-margin-top-small.u-margin-bottom-small
              - let pageTitle
              if user.role === 'admin' && reviewsOnShow
                - pageTitle = `Reviews For ${reviewsOnShow}`
              else
                - pageTitle = 'My Reviews'
              h2.heading-secondary= pageTitle

            .reviews-box__reviews-container.u-center-text
              each review in reviews
                .showtimes-box__theatertime
                  .showtimes-box__theatertime-poster
                    a.showtimes-box__theatertime-poster-link.picture-link(href=`/show-overview/${review.show.slug}`)
                      img.showtimes-box__theatertime-poster-img(src=`/img/shows/${review.show.poster.urlLarge}`, alt=`${review.show.title}`)

                  .showtimes-box__theatertime-theater.u-margin-bottom-small
                    h3.showtimes-box__theatertime-theater-name.heading-tertiary= review.show.title

                  .card__ratings.u-center-text
                    h3.card__ratings-star.heading-tertiary= `My Rating: ${review.rating}`

                  .card__details
                    p.crd__details-overview.paragraph= `"${review.review}"`

                  .showtimes-box__ticket-buy
                    a.btn.btn__promo(href=`/myReviews/${review.show.slug}`) Edit
                  