extends base

block content
  main.main
    .card-container

      each show in shows
        .card
          .card__poster
            //- .card__poster-overlay &nbsp;
            img.card__poster-img(src=`/img/shows/${show.poster.urlLarge}`, alt=`${show.title}`)
          .card__header-wrapper.u-margin-bottom-small
            h2.card__header.heading-secondary= show.title
          .card__mpaa.u-center-text
            h3.card__mpaa-type.heading-tertiary= show.mpaaRating
          .card__runtime.u-center-text
            - const hours = Math.floor(show.durationHours)
            - const minutes = show.duration - hours*60
            h3.card__runtime-length.heading-tertiary= `${hours} hours ${minutes} minutes`
          .card__ratings.u-center-text
            h3.card__ratings-star.heading-tertiary= `Average rating: ${show.ratingsAverage}`
          .card__details
            p.card__details-overview.paragraph= show.overview
          .card__footer
            a.btn.btn__promo(href=`/show-overview/${show.slug}`) More Info