extends base

block content
  main.main
    .card-container

      each show in shows
        .card
          .card__poster
            //- .card__poster-overlay &nbsp;
            img.card__poster-img(src=`img/shows/${show.poster.urlLarge}`, alt=`${show.title}`)
          .card__header-wrapper
            h2.card__header.heading-secondary.heading-secondary--gradient-1= show.title
          .card__details
            p.card__details-overview.paragraph= show.overview
          .card__footer
            a.btn.btn__promo(href=`/show-overview/${show.slug}`) More Info