extends base

block append head
  script(src='https://js.stripe.com/v3/')
  script(src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet')
  //- script(src='/js/mapbox.js')

block content
  main.main
    - console.log('Show: ', show)
    section.section-show-header
      .heading-box
        .heading-box__background
          .heading-box__background-overlay &nbsp;
          img.heading-box__background-img(src=`/img/shows/${show.poster.urlLarge}`, alt=`${show.title}`)
        .heading-box__poster
          img.heading-box__poster-img(src=`/img/shows/${show.poster.urlLarge}`, alt=`${show.title}`)
        .heading-box__data-container
          .heading-box__title
            h2.heading-secondary= show.title
          .heading-box__metadata-container
            ul.heading-box__metadata
              li.heading-box__metadata-item.paragraph= show.mpaaRating
              if show.genres
                li.heading-box__metadata-item.paragraph= show.genres
              li.heading-box__metadata-item.paragraph= show.contentType
              - const hours = Math.floor(show.durationHours)
              - const minutes = show.duration - hours*60
              li.heading-box__metadata-item.paragraph= `${hours}h ${minutes}m`
        .heading-box__info-container
          .heading-box__overview
            p.paragraph= show.overview
          .heading-box__buy
            a.btn.btn__promo(href="#showtimes") See showtimes

    section.section-show-showtimes(id="showtimes")
      .showtimes-box
        .showtimes-box__title.u-margin-top-small.u-margin-bottom-small
          h2.heading-secondary Showtimes
        .showtimes-box__theatertime-container.u-center-text
          - let checkFilter = []
          if user
            - checkFilter = show.tickets.map(ticket => (ticket.user.id === user.id) ? ticket.showtime.id : '')

          .row--scroll
            .row__inner--ticket
              each showtime in show.showtimes
                - console.log('Showtimes: ', showtime)
                .tile-ticket
                  .showtimes-box__theatertime
                    .showtimes-box__theatertime-poster
                      a.showtimes-box__theatertime-poster-link.picture-link(href=`/theater-overview/${showtime.theaters[0].slug}`)
                        img.showtimes-box__theatertime-poster-img(src=`/img/theaters/${showtime.theaters[0].photo}`, alt=`${showtime.theaters[0].name}`)
                    .showtimes-box__theatertime-theater.u-margin-bottom-small
                      // FIX BEM
                      h3.showtimes-box__theatertime-theater-name.heading-tertiary= `${showtime.theaters[0].name}`
                    .showtimes-box__metadata-container
                      ul.showtimes-box__metadata
                        li.showtimes-box__metadata-item.paragraph= `${showtime.theaters[0].address}, ${showtime.theaters[0].city}, ${showtime.theaters[0].state} ${showtime.theaters[0].zipCode}`
                    .showtimes-box__theatertime-date
                      p.paragraph= `${showtime.startDateTime.toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})}`
                    .showtimes-box__theatertime-time
                      p.paragraph= `${showtime.startDateTime.toLocaleString('en-us', {hour: '2-digit', minute: '2-digit', hour12: true})} - ${showtime.endDateTime.toLocaleString('en-us', {hour: '2-digit', minute: '2-digit', hour12: true})}`
                    .showtimes-box__ticket-buy
                      // Fix The Btn Helpers in SCSS
                      if user && checkFilter.filter(id => id === showtime.id).length > 0
                        button#ticketBought.btn.btn--light-silver(disabled) Already Bought!

                      else if user && Date.now() > showtime.endDateTime
                        button#ticketExpired.btn.btn--red(disabled) Expired!
                      
                      else if user && showtime.soldOut
                        button#ticketSoldOut.btn.btn--red(disabled) Sold Out!

                      else if user && Date.now() <= showtime.startDateTime && !showtime.soldOut
                        button#ticketShow.btn.btn--blue(data-show-id=`${show.id}` data-theater-id=`${showtime.theaters[0].id}` data-showtime-id=`${showtime.id}`) Buy!

                      else
                        a.btn.btn__promo.btn--light-silver(href='/login') Login to buy

            .showtimes-box__map.map-container
              // Possibly fix what it shows?
              #map(data-locations=`${JSON.stringify(showtime.theaters)}`)

    section.section-show-synopsis
      .synopsis-box
        .synopsis-box__title.u-margin-top-small.u-margin-bottom-small
          h2.heading-secondary Synopsis
        .synopsis-box__synopsis
          p.paragraph= show.synopsis

    section.section-show-castcrew
      .castcrew-box
        .castcrew-box__title.u-margin-top-small.u-margin-bottom-small
          h2.heading-secondary Cast | Crew
        .castcrew-box__list-container
          .row--scroll
            .row__inner
              each castcrew in show.castcrew
                .tile
                  .tile__media
                    img.tile__img(src=`/img/castcrew/${castcrew.photo.urlLarge}`, alt=`${castcrew.name}`)
                  .tile__details
                    .tile__title: a.tile__link(href=`/castcrew-overview/${castcrew.slug}`)= castcrew.name

    section.section-show-reviews
      .reviews-box
        .reviews-box__title.u-margin-top-small.u-margin-bottom-small
          h2.heading-secondary Reviews
        .reviews-box__list-container
          .row--scroll
            .row__inner
              if user && show.tickets.filter(ticket => ticket.user.id === user.id).length > 0 && show.reviews.filter(review => review.user.id === user.id).length === 0
                each ticket in show.tickets
                  if Date.now() >= ticket.showtime.endDateTime && show.showtimes.filter(showtime => showtime.id === ticket.showtime.id).length > 0
                    .tile-card
                      .tile-card__reviewer
                        .tile-card__reviewer-photo
                          img.tile-card__photo-img(src=`/img/users/${user.photo}`, alt=`${user.name} Photo`)

                        .tile-card__reviewer-name
                          p.paragraph Create a review!

                      .tile-card__review
                        form#createReviewForm.form
                          .form__group
                            input#reviewRating.form__input.input-text(type='number' name='reviewRating' placeholder='Rating*' required)
                            label.form__label.label-text(for='reviewRating') Please enter a rating.

                          .form__group
                            textarea#review.form__text-area.input-text(name='textareaReview' placeholder='Your Review*' required)
                            label.form__label.label-text(for='review') Please provide your review.

                          .form__group.form__group--tile
                            button#btnCreateReview.btn.btn--blue(type='submit' name='btnCreateReview' data-show-id=`${show.id}` data-role-type=`${user.role}`) Create Review

              each review in show.reviews
                .tile-card
                  .tile-card__reviewer
                    .tile-card__reviewer-photo
                      img.tile-card__photo-img(src=`/img/users/${review.user.photo}`, alt=`${review.user.name} Photo`)
                    
                    .tile-card__reviewer-name
                      p.paragraph= review.user.name

                  .tile-card__review
                    p.tile__card__review-stars.average-text= review.rating
                    p.tile-card__review-text.average-text= `"${review.review}"`
              

    section.section-show-additional
      .additional-box
        .additional-box__title.u-margin-top-small.u-margin-bottom-small
          h2.heading-secondary Additional Details

        .additional-box__container.table.paragraph
          .tbody
            .additional-box__organizer.trow
              .additional-box__organizer-title.td Event Organizer:

              .additional-box__organizer-value.td.
                #[a(class='additional-box__organizer-link', href=`mailto:${show.eventOrganizer[0].email}`) #[img(class='additional-box__organizer-img', src=`/img/users/${show.eventOrganizer[0].photo}`, alt=`${show.eventOrganizer[0].name}'s Photo`)] #[span #{show.eventOrganizer[0].name}]]
            
            .additional-box__original-release.trow
              .additional-box__original-release-title.td Original Release:

              .additional-box__original-release-value.td= `${show.originalReleaseDate[0].toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})}`

            .additional-box__language.trow
              - const languageVal = (!show.language) ? 'Film' : show.language
              .additional-box__language-title.td Language:

              .additional-box__language-value.td= `${languageVal}`

            .additional-box__subtitles.trow
              - const subtitlesVal = (!show.subtitles) ? 'None' : show.subtitles
              .additional-box__subtitles-title.td Subtitles:

              .additional-box__subtitles-value.td= `${subtitlesVal}`

            .additional-box__content.trow
              - const contentVal = (!show.contentType) ? 'Film' : show.contentType
              .additional-box__content-title.td Content:

              .additional-box__content-value.td= `${contentVal}`

            .additional-box__special-venue.trow
              - const specialVenueVal = (show.specialVenue === true) ? 'Yes' : 'No'
              .additional-box__special-venue-title.td Special Venue:

              .additional-box__special-venue-value.td= `${specialVenueVal}`

        //- .additional-box__container
        //-   .additional-box__organizer
        //-     p.additional-box__organizer-text.paragraph.
        //-       Event Organizerd by: #[a(class='additional-box__organizer-link', href=`mailto:${show.eventOrganizer[0].email}`) #[img(class='additional-box__organizer-img', src=`/img/users/${show.eventOrganizer[0].photo}`, alt=`${show.eventOrganizer[0].name}'s Photo`)] #[span #{show.eventOrganizer[0].name}]]

        //-   .additional-box__original-release
        //-     p.paragraph.
        //-       Original Release Date: #[span #{show.originalReleaseDate[0].toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})}]

        //-   .additional-box__language
        //-     - const languageVal = (!show.language) ? 'Film' : show.language
        //-     p.paragraph.
        //-       Language Type: #[span #{languageVal}]

        //-   .additional-box__subtitles
        //-     - const subtitlesVal = (!show.subtitles) ? 'None' : show.subtitles
        //-     p.paragraph.
        //-       Subtitles: #[span #{subtitlesVal}]

        //-   .additional-box__content
        //-     - const contentVal = (!show.contentType) ? 'Film' : show.contentType
        //-     p.paragraph.
        //-       Content: #[span #{contentVal}]

        //-   .additional-box__special-venue
        //-   - const specialVenueVal = (show.specialVenue === true) ? 'Yes' : 'No'
        //-     p.paragraph.
        //-       Special Venue: #[span #{specialVenueVal}]


    //- each eventOwner in show.eventOrganizer
    //-   h3= eventOwner.name
    //-   - if (eventOwner.role === 'event-owner')
    //-     h3 Event Owner