extends base

block content
  main.main
    .card-container

      each show in shows
        .card
          .card__poster
            //- .card__poster-overlay &nbsp;
            img.card__poster-img(src=`/img/shows/${show.poster.urlLarge}`, alt=`${show.title}`)
          .card__header-wrapper
            h2.card__header.heading-secondary= show.title
          .card__mpaa
            .card__mpaa-type= show.mpaaRating
          .card__runtime
            - const hours = Math.floor(show.durationHours)
            - const minutes = show.duration - hours
            .card__runtime-length= `${hours} hours ${minutes} minutes`
          .card__ratings
            .card__ratings-star= `Average rating: ${show.ratingsAverage}`
          .card__details
            p.card__details-overview.paragraph= show.overview
          .card__footer
            a.btn.btn__promo(href=`/show-overview/${show.slug}`) More Info