extends base

block append head
  script(src='https://js.stripe.com/v3/')
  script(src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet')
  //- script(src='/js/mapbox.js')

block content
  main.main
    - console.log(user)
    - console.log('Show: ', show)
    section.section-show-header
      .heading-box
        .heading-box__background
          .heading-box__background-overlay &nbsp;
          img.heading-box__background-img(src=`/img/shows/${show.poster.urlLarge}`, alt=`${show.title}`)
        .heading-box__poster
          img.heading-box__poster-img(src=`/img/shows/${show.poster.urlLarge}`, alt=`${show.title}`)
        .heading-box__data-container
          .heading-box__title
            h2.heading-secondary= show.title
          .heading-box__metadata-container
            ul.heading-box__metadata
              li.heading-box__metadata-item.paragraph= show.mpaaRating
              if show.genres
                li.heading-box__metadata-item.paragraph= show.genres
              li.heading-box__metadata-item.paragraph= show.contentType
              - const hours = Math.floor(show.durationHours)
              - const minutes = show.duration - hours*60
              li.heading-box__metadata-item.paragraph= `${hours}h ${minutes}m`
        .heading-box__info-container
          .heading-box__overview
            p.paragraph= show.overview
          .heading-box__buy
            a.btn.btn__promo(href="#showtimes") See showtimes

    section.section-show-showtimes(id="showtimes")
      .showtimes-box
        .showtimes-box__title.u-margin-top-small.u-margin-bottom-small
          h2.heading-secondary Showtimes
        .showtimes-box__theatertime-container.u-center-text
          each showtime in show.showtimes
            .showtimes-box__theatertime
              .showtimes-box__theatertime-poster
                a.showtimes-box__theatertime-poster-link.picture-link(href=`/theater-overview/${showtime.theaters[0].slug}`)
                  img.showtimes-box__theatertime-poster-img(src=`/img/theaters/${showtime.theaters[0].photo}`, alt=`${showtime.theaters[0].name}`)
              .showtimes-box__theatertime-theater.u-margin-bottom-small
                // FIX BEM
                h3.showtimes-box__theatertime-theater-name.heading-tertiary= `${showtime.theaters[0].name}`
              .showtimes-box__metadata-container
                ul.showtimes-box__metadata
                  li.showtimes-box__metadata-item.paragraph= `${showtime.theaters[0].address}, ${showtime.theaters[0].city}, ${showtime.theaters[0].state} ${showtime.theaters[0].zipCode}`
              .showtimes-box__theatertime-date
                p.paragraph= `${showtime.startDateTime.toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})}`
              .showtimes-box__theatertime-time
                p.paragraph= `${showtime.startDateTime.toLocaleString('en-us', {hour: '2-digit', minute: '2-digit', hour12: true})} - ${showtime.endDateTime.toLocaleString('en-us', {hour: '2-digit', minute: '2-digit', hour12: true})}`
            .showtimes-box__ticket-buy
              // Fix The Btn Helpers in SCSS
              if user
                button#ticketShow.btn.btn--blue(data-show-id=`${show.id}`) Buy!
              else
                a.btn.btn__promo(href='/login') Login to buy
            .showtimes-box__map.map-container
              // Possibly fix what it shows?
              #map(data-locations=`${JSON.stringify(showtime.theaters)}`)

    section.section-show-synopsis
      .synopsis-box
        .synopsis-box__title.u-margin-top-small.u-margin-bottom-small
          h2.heading-secondary Synopsis
        .synopsis-box__synopsis
          p.paragraph= show.synopsis

    section.section-show-castcrew
      .castcrew-box
        .castcrew-box__title.u-margin-top-small.u-margin-bottom-small
          h2.heading-secondary Cast | Crew
        .castcrew-box__list-container
          .row--scroll
            .row__inner
              each castcrew in show.castcrew
                .tile
                  .tile__media
                    img.tile__img(src=`/img/castcrew/${castcrew.photo.urlLarge}`, alt=`${castcrew.name}`)
                  .tile__details
                    .tile__title= castcrew.name

    section.section-show-reviews
      .reviews-box
        .reviews-box__title.u-margin-top-small.u-margin-bottom-small
          h2.heading-secondary Reviews
        .reviews-box__list-container
          .row--scroll
            .row__inner
              each review in show.reviews
                .tile-card
                  .tile-card__reviewer
                    .tile-card__reviewer-photo
                      img.tile-card__photo-img(src=`/img/users/${review.user.photo}`, alt=`${review.user.name} Photo`)
                    
                    .tile-card__reviewer-name
                      p.paragraph= review.user.name

                  .tile-card__review
                    p.tile__card__review-stars.average-text= review.rating
                    p.tile-card__review-text.average-text= `"${review.review}"`
              

    section.section-user-review

    //- each eventOwner in show.eventOrganizer
    //-   h3= eventOwner.name
    //-   - if (eventOwner.role === 'event-owner')
    //-     h3 Event Owner