extends base

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet')
  //- script(src='/js/mapbox.js')

block content
  main.main
    section.section-theater-header
      .heading-box
        .heading-box__background
          .heading-box__background-overlay &nbsp;
          img.heading-box__background-img(src=`/img/theaters/${theater.photo}`, alt=`${theater.name}`)

        .heading-box__logo
          img.heading-box__poster-img(src=`/img/theaters/${theater.photo}`, alt=`${theater.name}`)

        .heading-box__theater-data-container
          .heading-box__title
            h2.heading-secondary= theater.name

          .heading-box__metadata-container
            ul.heading-box__metadata
              li.heading-box__metadata-item.paragraph= `${theater.address}, ${theater.city}, ${theater.state} ${theater.zipCode}`

              li.heading-box__metadata-item.paragraph= `${theater.phone}`

        .heading-box__theater-info-container
          .heading-box__overview
            - var showtimeAns = (theater.hasShowTimes === true) ? 'Yes' : 'No'
            - var ticketAns = (theater.isTicketing === true) ? 'Yes' : 'No'
            p.paragraph= `A ${theater.chainName} chain. Has showtimes: ${showtimeAns}. Has tickets: ${ticketAns}.`

          .heading-box__buy
            a.btn.btn__promo(href="#showtimes") See showtimes

    section.section-theater-showtimes
      .showtimes-box
        .showtimes-box__title.u-margin-top-small.u-margin-bottom-small
          h2.heading-secondary Showtimes
        .showtimes-box__theatertime-container.u-center-text
          - testFilter = theater.tickets.map(ticket =>  (ticket.user.id === user.id) ? ticket.showtime.id : '')

          .row--scroll
            .row__inner--ticket
              each showtime in theater.showtimes
                .showtimes-box__theatertime
                  .showtimes-box__theatertime-poster
                    a.showtimes-box__theatertime-poster-link.picture-link(href=`/show-overview/${showtime.shows[0].slug}`)
                      img.showtimes-box__theatertime-poster-img(src=`/img/shows/${showtime.shows[0].poster.urlLarge}`, alt=`${showtime.shows[0].title}`)

                  .showtimes-box__theatertime-theater.u-margin-bottom-small
                    // FIX BEM
                    h3.showtimes-box__theatertime-theater-name.heading-tertiary= showtime.shows[0].title

                  .showtimes-box__metadata-container
                    ul.showtimes-box__metadata
                      li.showtimes-box__metadata-item.paragraph= showtime.shows[0].mpaaRating

                      -const hours = Math.floor(showtime.shows[0].durationHours)
                      -const minutes = showtime.shows[0].duration - hours*60

                      li.showtimes-box__metadata-item.paragraph= `${hours}h ${minutes}m`

                  .showtimes-box__theatertime-date
                    p.paragraph= `${showtime.startDateTime.toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})}`

                  .showtimes-box__theatertime-time
                    p.paragraph= `${showtime.startDateTime.toLocaleString('en-us', {hour: '2-digit', minute: '2-digit', hour12: true})} - ${showtime.endDateTime.toLocaleString('en-us', {hour: '2-digit', minute: '2-digit', hour12: true})}`

                .showtimes-box__ticket-buy
                  // Fix the Btn Helpers in SCSS
                  if user && testFilter.filter(id => id === showtime.id).length > 0
                    button#ticketBought.btn.btn--light-silver(disabled) Already Bought!

                  else if user && Date.now() > showtime.endDateTime
                    button#ticketExpired.btn.btn--red(disabled) Expired!

                  else if user && showtime.soldOut
                    button#ticketSoldOut.btn.btn--red(disabled) Sold Out!

                  else if user && Date.now() <= showtime.startDateTime && !showtime.soldOut
                    button#ticketShow.btn.btn--blue(data-show-id=`${showtime.shows[0].id}` data-theater-id=`${theater.id}` data-showtime-id=`${showtime.id}`) Buy!

                  else
                    a.btn.btn__promo.btn--light-silver(href='/login') Login to buy

    section.section-theater-location
      .location-box
        .location-box__title.u-margin-top-small.u-margin-bottom-small
          h2.heading-secondary Location

        .location-box__map.map-container
          // Possibly fix what it shows?
          - const theaterArrObj = [{ geo: theater.geo, name: theater.name }]
          #map(data-locations=`${JSON.stringify(theaterArrObj)}`)

    section.section-theater-about
      .about-box
        .about-box__title.u-margin-top-small.u-margin-bottom-small
          h2.heading-secondary About

        .about-box__description
          - const biography = theater.description.split('\n');
          each bio in biography
            p.paragraph.u-margin-bottom-small= bio